*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
p{
    font-family: 'Trebuchet MS', sans-serif;
}
*:not(input,textarea){
    text-transform: capitalize;
}