@import "../../../variables/_variables.scss";

.pages__section {
  margin-top: 30px;
  width: 1024px;
  .pagination_container {
    @include flex(flex, center, nowrap, row);
    width: 100%;
    .pagination {
      @include flex(flex, center, nowrap, row);
      gap: 10px;
      .page-item {
        cursor: $cursorPointer;
        color: $primary_dkprp_clr;
        background-color: $primary_wh_clr;
        border: 1px solid $primary_wh_clr2;
        list-style: none;
        padding: 3px 6px;
        border-radius: 3px;
        &:hover {
        box-shadow: $grey_boxShadow
        }
      }
    }
  }
}
