@import "../../../variables/_variables.scss";

.blogs {
  @include flex(flex, unset, nowrap, column);
  padding: 100px 0px;
  background-color: $primary_bg_clr;
  .blogs_cn {
    @include flex(flex, unset, nowrap, column);
    align-items: $alignItems;
    .toolbar_section {
      @include flex(flex, space-between, nowrap, row);
      align-items: $alignItems;
      border-radius: $px6_borderRadius;
      width: 100%;
      max-width: 1024px;
      min-width: fit-content;
      height: 45px;
      box-shadow: 0px 0px 1px 0px $primary_gry_clr;
      border-bottom: 2px solid $primary_prp_clr;
      background: $primary_wh_clr;

      .toolbar_category {
        @include flex(flex, space-between, nowrap, row);
        align-items: $alignItems;
        height: 45px;
        font-weight: 300;
        // padding-right: 50px;
        width: 100%;
        .titleContainer {
          @include flex(flex, unset, nowrap, row);
          align-items: $alignItems;
          background-color: $primary_prp_clr;
          border-top-left-radius: 6px;
          border-bottom-left-radius: 6px;
          height: inherit;
          .title {
            color: $primary_wh_clr;
            padding-left: 30px;
            padding-right: 30px;
          }
        }

        .categoryBtnContainer {
          @include flex(flex, unset, nowrap, row);
          position: $relative;
          padding-left: 10px;
          gap: 20px;
          width: 100%;
          .categoryBtn {
            @include element_transparency();
            font-size: $mediumFont;
            cursor: $cursorPointer;
            color: #080808b5;
            &:hover {
              color: $primary_dkprp_clr;
            }
          }
          .toolbar_filter {
            position: $absolute;
            right: 0;

            .filterBtn {
              @include flex(flex, unset, nowrap, row);
              @include element_transparency();
              align-items: $alignItems;
              margin-right: 20px;
              cursor: $cursorPointer;
              width: 100%;
              font-size: $mediumFont;
              color: rgba(8, 8, 8, 0.7098039216);
              &:hover {
                color: $primary_black_clr;
              }
            }
            .filter_option_cr {
              @include flex(flex, unset, nowrap, column);
              position: $absolute;
              top: 25px;
              z-index: 110;
              background-color: $primary_wh_clr;
              border: 1px solid $primary_wh_clr2;

              .filterBtn_cr {
                width: 100%;
                padding: 10px;
                border-bottom: 1px solid $primary_wh_clr2;
                cursor: $cursorPointer;
                &:hover {
                  background-color: #efeded;
                }
              }
            }
          }
        }
      }
    }

    .cards_section {
      @include flex(flex, center, nowrap, row);
      max-width: 1024px;
      margin-top: 40px;
      .card_container {
        @include flex(flex, space-evenly, wrap, row);
        gap: 60px;
        .card_div {
          border-radius: 6px;
          background-color: $primary_wh_clr;
          box-shadow: 0px 0px 10px 2px $primary_gry_clr;
          background: transparent;

          .card {
            position: $relative;
            width: 275px;
            height: 100%;
            background-color: transparent;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
            &:hover .container .card-footer {
              visibility: visible;
              display: block;
            }

            .img_menu_header {
              background: transparent;
              .card_img {
                height: 325px;
                width: 100%;
                object-fit: fill;
                transition: all ease 1.5s;
                filter: drop-shadow(2px 13px 8px rgb(33, 32, 32));
                background: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0),
                  rgba(0, 0, 0, 1)
                );
                filter: contrast(1.5);
              }

              .img_title {
                position: $absolute;
                
                background-color: #9c27b0;
                color: #efeded;
                font-size: small;
                border-bottom-right-radius: 15px;
                gap: 10px;
                top: 0px;
                padding: 5px;
              }
            }

            .container {
              position: $absolute;
              z-index: 1;
              border-bottom-right-radius: 5px;
              border-bottom-left-radius: 5px;
              min-height: fit-content;
              width: 100%;
              bottom: 0;
              background-color: white;
              .show_menu {
                visibility: visible !important;
              }

              .card_items {
                position: relative;
                .card_menu {
                  @include flex(flex, space-between, nowrap, row);
                  visibility: collapse;
                  position: absolute;
                  z-index: -1;
                  box-shadow: 0px 3px 10px 0px grey;
                  background-color: rgb(48 47 50 / 86%);
                  padding: 5px 10px;
                  width: 100%;
                  top: -37px;
                  gap: 15px;
                  color: $primary_wh_clr;
                  backdrop-filter: blur(5px);

                  .blog_user_span{
                    @include flex(flex, center, nowrap, column);
                    align-items: center;
                    font-size: smaller;
                    small {

                      visibility: collapse;
                    }
                    &:hover small {
                      visibility: visible;
                    }
                  }
                  .blog_likes_span {
                    @include flex(flex, center, nowrap, column);
                    align-items: center;
                    font-size: small;
                    small {
                      visibility: collapse;
                    }
                    &:hover small {
                      visibility: visible;
                    }

                    .likeBtn {
                      @include element_transparency();
                      font-size: $largerFont;
                      .BlogLikedBtn {
                        path {
                          fill: #9c27b0;
                        }
                        &:hover {
                          path {
                          }
                        }
                      }
                      .BlogNotLikedBtn {
                        path {
                          fill: #9b27b0ab;
                        }
                        &:hover {
                          path {
                            fill: #9c27b0;
                          }
                        }
                      }
                    }
                  }
                  .blog_views_span {
                    @include flex(flex, center, nowrap, column);
                    align-items: center;
                    font-size: small;
                    small {
                      visibility: collapse;
                    }
                    &:hover small {
                      visibility: visible;
                    }
                  }
                }
              }

              .card_menu_list {
                position: relative;
                .category_title {
                  @include flex(flex, space-between, nowrap, row);
                  padding: 10px;
                  margin-top: 10px;
                  span:first-child {
                    color: #7541ce;
                    b {
                      font-size: small;
                    }
                  }
                  .menu_icon {
                    transform: rotate(90deg);
                    @include element_transparency();
                    outline: transparent;
                    font-size: medium;
                    &:hover {
                      color: rgb(103, 58, 183);
                    }
                  }
                }
              }
              .card-body {
                display: absolute;
                overflow: hidden;
                bottom: 30px;
                width: 100%;
                height: 100%;
                word-wrap: break-word;
                word-break: break-all;
                .card-text {
                  line-height: 25px;
                  font-family: Arial, Helvetica, sans-serif;
                  padding: 5px 10px 5px 10px;
                  overflow: auto;
                  font-size: 0.9rem;
                }
              }

              .card_footer {
                word-wrap: break-word;
                word-break: break-all;
                width: 100%;
                transition: all ease 2s;
                padding: 10px;
                visibility: collapse;
                // background-color: red;
                display: none;
                font-size: $smallFont;
                .cardBtn {
                  @include element_transparency();
                  color: $primary_gry_clr;
                  font-size: 0.7rem;
                  margin-left: 50%;
                  // padding-top: 10px;
                  transform: translateX(-50%);
                  &::after {
                    content: "";
                  }
                  &:hover {
                    color: $primary_prp_clr;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .blogs {
    @include flex(flex, unset, nowrap, column);
    padding: 100px 0px;
    background-color: $primary_bg_clr;
    .blogs_cn {
      @include flex(flex, unset, nowrap, column);
      align-items: $alignItems;
      .toolbar_section {
        @include flex(flex, space-between, nowrap, row);
        align-items: $alignItems;
        border-radius: 6px;
        width: 100%;
        max-width: 400px;
        min-width: fit-content;
        height: 45px;
        box-shadow: 0px 0px 1px 0px $primary_gry_clr;
        border-bottom: 2px solid $primary_prp_clr;
        background: $primary_wh_clr;

        .toolbar_category {
          @include flex(flex, space-between, nowrap, row);
          align-items: $alignItems;
          height: 45px;
          font-weight: 300;

          padding-right: 10px;
          .titleContainer {
            @include flex(flex, unset, nowrap, row);
            align-items: $alignItems;
            background-color: $primary_prp_clr;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            height: inherit;
            .title {
              color: $primary_wh_clr;
              padding-left: 10px;
              padding-right: 10px;
            }
          }

          .categoryBtnContainer {
            @include flex(flex, unset, nowrap, row);
            padding-left: 10px;
            gap: 10px;
            width: 100%;
            .categoryBtn {
              @include element_transparency();
              color: #080808b5;
              font-size: $smallerFont;
              cursor: $cursorPointer;
              &:hover {
                color: #7541ce;
              }
            }

            .toolbar_filter {
              position: $relative;
              .filterBtn {
                @include flex(flex, unset, nowrap, row);
                @include element_transparency();
                align-items: $alignItems;
                margin-right: 20px;
                cursor: $cursorPointer;
                width: 100%;
                font-size: $smallerFont;
                color: rgba(8, 8, 8, 0.7098039216);

                &:hover {
                  color: $primary_black_clr;
                }
              }
              .filter_option_cr {
                @include flex(flex, unset, nowrap, column);
                position: $absolute;
                top: 25px;
                z-index: 110;
                background-color: $primary_wh_clr;
                border: 1px solid $primary_wh_clr2;

                .filterBtn_cr {
                  width: 100%;
                  padding: 10px;
                  border-bottom: 1px solid $primary_wh_clr2;
                  cursor: $cursorPointer;
                  &:hover {
                    background-color: #efeded;
                  }
                }
              }
            }
          }
        }
      }

      .cards_section {
        @include flex(flex, center, nowrap, row);
        max-width: 1024px;
        margin-top: 40px;
        .card_container {
          @include flex(flex, space-evenly, wrap, row);
          gap: 60px;
          .card_div {
            border-radius: 6px;
            background-color: $primary_wh_clr;
            box-shadow: 0px 0px 10px 2px $primary_gry_clr;
            background: transparent;
  
            .card {
              position: $relative;
              width: 275px;
              height: 100%;
              background-color: transparent;
              border-bottom-right-radius: 15px;
              border-bottom-left-radius: 15px;
              &:hover .container .card-footer {
                visibility: visible;
                display: block;
              }
  
              .img_menu_header {
                background: transparent;
                .card_img {
                  height: 325px;
                  width: 100%;
                  object-fit: fill;
                  transition: all ease 1.5s;
                  filter: drop-shadow(2px 13px 8px rgb(33, 32, 32));
                  background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 1)
                  );
                  filter: contrast(1.5);
                }
  
                .img_title {
                  position: $absolute;
                  background-color: #9c27b0;
                  color: #efeded;
                  font-size: small;
                  border-bottom-right-radius: 15px;
                  gap: 10px;
                  top: 0px;
                  padding: 5px;
                }
              }
  
              .container {
                position: $absolute;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                min-height: fit-content;
                width: 100%;
                bottom: 0;
                background-color: white;
                .show_menu {
                  visibility: visible !important;
                }
  
                .card_items {
                  position: relative;
                  .card_menu {
                    position: absolute;
                    z-index: -1;
                    @include flex(flex, center, nowrap, row);
                    // background-color: rgb(48 47 50 / 86%);
                    background-color: rgb(0 0 0 / 86%);
                    visibility: collapse;
                    padding: 5px;
                    width: 100%;
                    top: -37px;
                    gap: 15px;
                    color: $primary_wh_clr;
                    backdrop-filter: blur(5px);
                    .blog_likes_span {
                      @include flex(flex, center, nowrap, column);
                      align-items: center;
                      font-size: small;
                      small {
                        visibility: collapse;
                      }
                      &:hover small {
                        visibility: visible;
                      }
  
                      .likeBtn {
                        @include element_transparency();
                        font-size: $largerFont;
                        .BlogLikedBtn {
                          path {
                            fill: #9c27b0;
                          }
                          &:hover {
                            path {
                            }
                          }
                        }
                        .BlogNotLikedBtn {
                          path {
                            fill: #9b27b067;
                          }
                          &:hover {
                            path {
                              fill: #9c27b0;
                            }
                          }
                        }
                      }
                    }
                    .blog_views_span {
                      @include flex(flex, center, nowrap, column);
                      align-items: center;
                      font-size: small;
                      small {
                        visibility: collapse;
                      }
                      &:hover small {
                        visibility: visible;
                      }
                    }
                  }
                }
  
                .card_menu_list {
                  position: relative;
                  .category_title {
                    @include flex(flex, space-between, nowrap, row);
                    padding: 10px;
                    span:first-child {
                      b {
                        font-size: small;
                      }
                    }
                    .menu_icon {
                      transform: rotate(90deg);
                      @include element_transparency();
                      outline: transparent;
                      font-size: medium;
                      &:hover {
                        color: rgb(103, 58, 183);
                      }
                    }
                  }
                }
                .card-body {
                  display: absolute;
                  overflow: hidden;
                  bottom: 30px;
                  width: 100%;
                  width: 100%;
                  height: 100%;
                  word-wrap: break-word;
                  word-break: break-all;
                  .card-text {
                    line-height: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 5px 10px 5px 10px;
                    overflow: auto;
                    font-size: 0.9rem;
                  }
                }
  
                .card_footer {
                  word-wrap: break-word;
                  word-break: break-all;
                  width: 100%;
                  transition: all ease 2s;
                  padding: 10px;
                  visibility: collapse;
                  display: none;
                  font-size: $smallFont;
                  .cardBtn {
                    @include element_transparency();
                    color: $primary_gry_clr;
                    font-size: 0.7rem;
                    margin-left: 50%;
                    padding-top: 10px;
                    transform: translateX(-50%);
                    &::after {
                      content: "";
                    }
                    &:hover {
                      color: $primary_prp_clr;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .blogs {
    @include flex(flex, unset, nowrap, column);
    padding: 100px 0px;
    background-color: $primary_bg_clr;
    .blogs_cn {
      @include flex(flex, unset, nowrap, column);
      align-items: $alignItems;
      .toolbar_section {
        @include flex(flex, space-between, wrap, column);
        align-items: $alignItems;
        border-radius: 6px;
        width: 100%;
        max-width: 200px;
        min-width: fit-content;
        // height: 45px;
        height: fit-content;
        box-shadow: 0px 0px 1px 0px $primary_gry_clr;
        border-bottom: 2px solid $primary_prp_clr;
        background: $primary_wh_clr;
        font-size: $smallFont;
        .toolbar_category {
          @include flex(flex, space-between, nowrap, row);
          align-items: $alignItems;
          height: fit-content;
          font-weight: 300;
          padding-right: 10px;
          .titleContainer {
            @include flex(flex, unset, wrap, row);
            align-items: $alignItems;
            background-color: $primary_prp_clr;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            height: 80px;
            
            .title {
              color: $primary_wh_clr;
              padding-left: 10px;
              padding-right: 10px;
            }
          }

          .categoryBtnContainer {
            @include flex(flex, unset, wrap, row);
            padding-left: 10px;
            gap: 10px;
            width: 100%;
            .categoryBtn {
              @include element_transparency();
              color: #080808b5;
              cursor: $cursorPointer;
              &:hover {
                color: #7541ce;
              }
            }

            .toolbar_filter {
              position: $relative;
              .filterBtn {
                @include flex(flex, unset, wrap, row);
                @include element_transparency();
                align-items: $alignItems;
                margin-right: 20px;
                cursor: $cursorPointer;
                width: 100%;
                color: rgba(8, 8, 8, 0.7098039216);

                &:hover {
                  color: $primary_black_clr;
                }
              }
              .filter_option_cr {
                @include flex(flex, unset, nowrap, column);
                position: $absolute;
                top: 25px;
                z-index: 110;
                background-color: $primary_wh_clr;
                border: 1px solid $primary_wh_clr2;

                .filterBtn_cr {
                  width: 100%;
                  padding: 10px;
                  border-bottom: 1px solid $primary_wh_clr2;
                  cursor: $cursorPointer;
                  &:hover {
                    background-color: #efeded;
                  }
                }
              }
            }
          }
        }
      }

      .cards_section {
        @include flex(flex, center, nowrap, row);
        max-width: 1024px;
        margin-top: 40px;
        .card_container {
          @include flex(flex, space-evenly, wrap, row);
          gap: 60px;
          .card_div {
            border-radius: 6px;
            background-color: $primary_wh_clr;
            box-shadow: 0px 0px 10px 2px $primary_gry_clr;
            background: transparent;
  
            .card {
              position: $relative;
              width: 275px;
              height: 100%;
              background-color: transparent;
              border-bottom-right-radius: 15px;
              border-bottom-left-radius: 15px;
              &:hover .container .card-footer {
                visibility: visible;
                display: block;
              }
  
              .img_menu_header {
                background: transparent;
                .card_img {
                  height: 325px;
                  width: 100%;
                  object-fit: fill;
                  transition: all ease 1.5s;
                  filter: drop-shadow(2px 13px 8px rgb(33, 32, 32));
                  background: linear-gradient(
                    to bottom,
                    rgba(0, 0, 0, 0),
                    rgba(0, 0, 0, 1)
                  );
                  filter: contrast(1.5);
                }
  
                .img_title {
                  position: $absolute;
                  background-color: #9c27b0;
                  color: #efeded;
                  font-size: small;
                  border-bottom-right-radius: 15px;
                  gap: 10px;
                  top: 0px;
                  padding: 5px;
                }
              }
  
              .container {
                position: $absolute;
                border-bottom-right-radius: 5px;
                border-bottom-left-radius: 5px;
                min-height: fit-content;
                width: 100%;
                bottom: 0;
                box-shadow: 1px 1px 1px 1px grey;
                background-color: white;
                .show_menu {
                  visibility: visible !important;
                }
  
                .card_items {
                  position: relative;
                  .card_menu {
                    position: absolute;
                    z-index: -1;
                    @include flex(flex, center, nowrap, row);
                    
                                        // background-color: rgb(48 47 50 / 86%);
background-color: red;
                    visibility: collapse;
                    padding: 5px;
                    width: 100%;
                    top: -37px;
                    gap: 15px;
                    color: $primary_wh_clr;
                    backdrop-filter: blur(5px);
                    .blog_likes_span {
                      @include flex(flex, center, nowrap, column);
                      align-items: center;
                      font-size: small;
                      small {
                        visibility: collapse;
                      }
                      &:hover small {
                        visibility: visible;
                      }
  
                      .likeBtn {
                        @include element_transparency();
                        font-size: $largerFont;
                        .BlogLikedBtn {
                          path {
                            fill: #9c27b0;
                          }
                          &:hover {
                            path {
                            }
                          }
                        }
                        .BlogNotLikedBtn {
                          path {
                            fill: #9b27b067;
                          }
                          &:hover {
                            path {
                              fill: #9c27b0;
                            }
                          }
                        }
                      }
                    }
                    .blog_views_span {
                      @include flex(flex, center, nowrap, column);
                      align-items: center;
                      font-size: small;
                      small {
                        visibility: collapse;
                      }
                      &:hover small {
                        visibility: visible;
                      }
                    }
                  }
                }
  
                .card_menu_list {
                  position: relative;
                  .category_title {
                    @include flex(flex, space-between, nowrap, row);
                    padding: 10px;
                    span:first-child {
                      b {
                        font-size: small;
                      }
                    }
                    .menu_icon {
                      transform: rotate(90deg);
                      @include element_transparency();
                      outline: transparent;
                      font-size: medium;
                      &:hover {
                        color: rgb(103, 58, 183);
                      }
                    }
                  }
                }
                .card-body {
                  display: absolute;
                  overflow: hidden;
                  bottom: 30px;
                  width: 100%;
                  width: 100%;
                  height: 100%;
                  word-wrap: break-word;
                  word-break: break-all;
                  .card-text {
                    line-height: 25px;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 5px 10px 5px 10px;
                    overflow: auto;
                    font-size: 0.9rem;
                  }
                }
  
                .card_footer {
                  word-wrap: break-word;
                  word-break: break-all;
                  width: 100%;
                  transition: all ease 2s;
                  padding: 10px;
                  visibility: collapse;
                  display: none;
                  font-size: $smallFont;
                  .cardBtn {
                    @include element_transparency();
                    color: $primary_gry_clr;
                    font-size: 0.7rem;
                    margin-left: 50%;
                    padding-top: 10px;
                    transform: translateX(-50%);
                    &::after {
                      content: "";
                    }
                    &:hover {
                      color: $primary_prp_clr;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// .blogs {
//   @include flex(flex, unset, nowrap, column);
//   padding: 100px 0px;
//   background-color: $primary_bg_clr;
//   .blogs_cn {
//     @include flex(flex, unset, nowrap, column);
//     align-items: $alignItems;
//     .toolbar_section {
//       @include flex(flex, space-between, nowrap, row);
//       align-items: $alignItems;
//       border-radius: $px6_borderRadius;
//       width: 100%;
//       max-width: 1024px;
//       min-width: fit-content;
//       height: 45px;
//       box-shadow: 0px 0px 1px 0px $primary_gry_clr;
//       border-bottom: 2px solid $primary_prp_clr;
//       background: $primary_wh_clr;

//       .toolbar_category {
//         @include flex(flex, space-between, nowrap, row);
//         align-items: $alignItems;
//         height: 45px;
//         font-weight: 300;
//         // padding-right: 50px;
//         width: 100%;
//         .titleContainer {
//           @include flex(flex, unset, nowrap, row);
//           align-items: $alignItems;
//           background-color: $primary_prp_clr;
//           border-top-left-radius: 6px;
//           border-bottom-left-radius: 6px;
//           height: inherit;
//           .title {
//             color: $primary_wh_clr;
//             padding-left: 30px;
//             padding-right: 30px;
//           }
//         }

//         .categoryBtnContainer {
//           @include flex(flex, unset, nowrap, row);
//           position: $relative;
//           padding-left: 10px;
//           gap: 20px;
//           width: 100%;
//           .categoryBtn {
//             @include element_transparency();
//             font-size: $mediumFont;
//             cursor: $cursorPointer;
//             color: #080808b5;
//             &:hover {
//               color: $primary_dkprp_clr;
//             }
//           }
//           .toolbar_filter {
//             position: $absolute;
//             right: 0;

//             .filterBtn {
//               @include flex(flex, unset, nowrap, row);
//               @include element_transparency();
//               align-items: $alignItems;
//               margin-right: 20px;
//               cursor: $cursorPointer;
//               width: 100%;
//               font-size: $mediumFont;
//               color: rgba(8, 8, 8, 0.7098039216);
//               &:hover {
//                 color: $primary_black_clr;
//               }
//             }
//             .filter_option_cr {
//               @include flex(flex, unset, nowrap, column);
//               position: $absolute;
//               top: 25px;
//               z-index: 110;
//               background-color: $primary_wh_clr;
//               border: 1px solid $primary_wh_clr2;

//               .filterBtn_cr {
//                 width: 100%;
//                 padding: 10px;
//                 border-bottom: 1px solid $primary_wh_clr2;
//                 cursor: $cursorPointer;
//                 &:hover {
//                   background-color: #efeded;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }

//     .cards_section {
//       @include flex(flex, center, nowrap, row);
//       max-width: 1024px;
//       margin-top: 40px;
//       .card_container {
//         @include flex(flex, space-evenly, wrap, row);
//         gap: 60px;
//         .card_div {
//           box-shadow: 0px 0px 5px 0px $primary_gry_clr;
//           // border-radius: 15px;
//           background-color: $primary_wh_clr;
//           position: $relative;
//           &:hover {
//             background-color: rgb(247, 248, 248);
//           }
//           .card {
//             @include flex(flex, space-between, nowrap, column);
//             position: relative;
//             // max-width: 300px;
//             // min-width: 150px;
//             width: 300px;
//             transition: all ease-out 1s;
//             &:hover .card-body {

//             }
//             &:hover .card-footer {

//             }
//             &:hover .card_img {

//             }
//             .card_img  {
//               height: 200px;
//               width: 100%;
//           //  background-color: red;
//               // background-size: cover;

//               // // border-radius: 15px;
//               object-fit: fill;
//               // transition: all linear 0.5s;
//             }

//             .card-body {
//               // visibility: collapse;
//             }
//             .card-footer {
//               // visibility: collapse;
//             }
//             .card-body {
//               @include flex(flex, space-between, nowrap, column);
//               text-shadow: 0px 1px 2px $primary_gry_clr;
//               gap: 10px;
//               padding: 10px;
//               overflow: auto;
//               margin-bottom: 25px;
//               width: 100%;
//               .category_title {
//                 @include flex(flex, space-between, nowrap, row);
//                 align-items: $alignItems;
//                 span:first-child {
//                   border: 1px solid #d4cccc;
//                   width: fit-content;
//                   padding: 5px 15px;
//                   border-radius: $px6_borderRadius;
//                 }
//                 span:last-child {
//                   @include flex(flex, space-between, nowrap, row);
//                   gap: 3px;

//                   align-items: $alignItems;
//                   color: $primary_gry_clr;
//                   width: fit-content;
//                   font-size: $smallerFont;
//                 }
//               }
//               .card-text {
//                 padding: 5px;
//                 line-height: 25px;
//                 height: 100px;
//                 // font-weight: bold;
//                 overflow: auto;
//                 word-wrap: break-word;
//                 word-break: break-all;
//                 .cardBtn {
//                   @include element_transparency();
//                   cursor: $cursorPointer;
//                   font-size: $smallFont;
//                   padding-left: 10px;
//                   color: $primary_gry_clr;
//                   &:hover {
//                     color: $primary_prp_clr;
//                   }
//                 }
//               }
//             }
            // .card-footer {
            //   @include flex(flex, space-between, nowrap, row);
            //   align-items: $alignItems;
            //   width: 100%;
            //   position: $absolute;
            //   bottom: 0;
            //   padding: 10px;
            //   border-top: 2px solid $primary_wh_clr2;
            //   .footer_user_details {
            //     @include flex(flex, space-between, nowrap, row);

            //     gap: 5px;
            //     span {
            //       @include flex(flex, space-between, nowrap, row);
            //       text-align: $alignItems;
            //       font-size: $smallFont;
            //       gap: 5px;
            //       color: $primary_gry_clr;
            //     }
            //     span:first-child {
            //       padding-right: 5px;
            //       border-right: 2px solid $primary_wh_clr2;
            //     }
            //   }

            //   .likeBtn {
            //     @include element_transparency();
            //     font-size: $largerFont;

            //     .BlogLikedBtn {
            //       cursor: pointer;
            //       path {
            //         fill: #9c27b0;
            //       }
            //       &:hover {
            //         path {
            //           fill: #9b27b067;
            //         }
            //       }
            //     }
            //     .BlogNotLikedBtn {
            //       cursor: pointer;
            //       path {
            //         fill: #9b27b067;
            //       }
            //       &:hover {
            //         path {
            //           fill: #9c27b0;
            //         }
            //       }
            //     }
            //   }
            // }
//           }
//         }
//       }
//     }
//   }
// }

// .blogs {
//   @include flex(flex, unset, nowrap, column);
//   padding: 100px 0px;
//   background-color: $primary_bg_clr;
//   .blogs_cn {
//     @include flex(flex, unset, nowrap, column);
//     align-items: $alignItems;
//     .toolbar_section {
//       @include flex(flex, space-between, nowrap, row);
//       align-items: $alignItems;
//       border-radius: $px6_borderRadius;
//       width: 100%;
//       max-width: 1024px;
//       min-width: fit-content;
//       height: 45px;
//       box-shadow: 0px 0px 1px 0px $primary_gry_clr;
//       border-bottom: 2px solid $primary_prp_clr;
//       background: $primary_wh_clr;

//       .toolbar_category {
//         @include flex(flex, space-between, nowrap, row);
//         align-items: $alignItems;
//         height: 45px;
//         font-weight: 300;
//         // padding-right: 50px;
//         width: 100%;
//         .titleContainer {
//           @include flex(flex, unset, nowrap, row);
//           align-items: $alignItems;
//           background-color: $primary_prp_clr;
//           border-top-left-radius: 6px;
//           border-bottom-left-radius: 6px;
//           height: inherit;
//           .title {
//             color: $primary_wh_clr;
//             padding-left: 30px;
//             padding-right: 30px;
//           }
//         }

//         .categoryBtnContainer {
//           @include flex(flex, unset, nowrap, row);
//           position: $relative;
//           padding-left: 10px;
//           gap: 20px;
//           width: 100%;
//           .categoryBtn {
//             @include element_transparency();
//             font-size: $mediumFont;
//             cursor: $cursorPointer;
//             color: #080808b5;
//             &:hover {
//               color: $primary_dkprp_clr;
//             }
//           }
//           .toolbar_filter {
//             position: $absolute;
//             right: 0;

//             .filterBtn {
//               @include flex(flex, unset, nowrap, row);
//               @include element_transparency();
//               align-items: $alignItems;
//               margin-right: 20px;
//               cursor: $cursorPointer;
//               width: 100%;
//               font-size: $mediumFont;
//               color: rgba(8, 8, 8, 0.7098039216);
//               &:hover {
//                 color: $primary_black_clr;
//               }
//             }
//             .filter_option_cr {
//               @include flex(flex, unset, nowrap, column);
//               position: $absolute;
//               top: 25px;
//               z-index: 110;
//               background-color: $primary_wh_clr;
//               border: 1px solid $primary_wh_clr2;

//               .filterBtn_cr {
//                 width: 100%;
//                 padding: 10px;
//                 border-bottom: 1px solid $primary_wh_clr2;
//                 cursor: $cursorPointer;
//                 &:hover {
//                   background-color: #efeded;
//                 }
//               }
//             }
//           }
//         }
//       }
//     }

//     .cards_section {
//       @include flex(flex, center, nowrap, row);
//       max-width: 1024px;
//       margin-top: 40px;
//       .card_container {
//         @include flex(flex, space-evenly, wrap, row);
//         gap: 60px;
//         .card_div {
//           // position: $relative;
//           border-radius: 6px;
//           background-color: $primary_wh_clr;
//           box-shadow: 0px 0px 10px 2px $primary_gry_clr;

//           // height: 400px;
//           &:hover {
//             // background-color: rgb(247, 248, 248);
//           }
//           .card {
//             // position: $relative;
//             width: 275px;
//             height: 100%;
//             transition: all ease-out 2s;
//             // @include flex(flex, space-between, nowrap, column);
//             // max-width: 300px;
//             // min-width: 150px;
//             // min-height: 450px;
//             .img_menu_header {
//               position: $relative;

//               .card_img {

//                 height: 325px;
//                 // z-index: -1;
//                 width: 100%;
//                 object-fit: fill;
//                 transition: all ease 0.5s;
//                 // filter:drop-shadow(2px 13px 8px rgb(33, 32, 32));

//                 // background: linear-gradient(
//                 //   to bottom,
//                 //   rgba(0, 0, 0, 0),
//                 //   rgba(0, 0, 0, 1)
//                 // );
//                 filter: contrast(1.5);
//               }

//               .img_title {
//                 position: $absolute;
//                 background-color: #9c27b0;
//                 color: #efeded;
//                 font-size: small;
//                 border-bottom-right-radius: 15px;
//                 gap: 10px;
//                 top: 0px;
//                 padding: 5px;
//                 // .title_cr {
//                 //   @include flex(flex, space-between, nowrap, column);
//                 // }
//               }

//               .card_footer {
//                 overflow: hidden;
//                 border-bottom-right-radius: 15px;
//                 border-bottom-left-radius: 15px;
//                 z-index: 200;
//                 width: inherit;
//                 // transition: all ease 1s;
//                 // display: none;
//                 // position: $relative;
//                 // transform: translateX(-50%);
//                 // left: 50%;
//                 // bottom: 5px;
//                 padding: 10px;
//                 // padding-top: 15px;
//                 visibility: collapse;
//                 .card-text {
//               overflow: hidden;
//                   // padding-left: 10px;
//                   width: 100%;
//                   padding-top: 10px;
//                   font-size: $smallFont;
//                   color: $primary_gry_clr;
//                   width: 100%;
//                   // word-wrap: break-word;
//                   // word-break: break-all
//                   // padding-bottom: 20px

//                   // &::after{
//                   //   content: ' ...';

//                   // }
//                 }
//                 .cardBtn {
//                   // margin-top: 50px;

//                   @include element_transparency();
//                   color: $primary_gry_clr;
//                   font-size: 0.7rem;
//                   margin-left: 50%;
//                   padding-top: 10px;
// //  position: $absolute;
//                 transform: translateX(-50%);
//                 // left: 50%;
//                 // bottom: 5px;
//                     &::after{
//                     content: '';

//                   }
//                   &:hover {
//                     color: $primary_prp_clr;
//                   }
//                 }
//               }
//               &:hover .card-footer {
//                 visibility: visible;
//                 background-color: white;
//                 display: block;
//                 transition: all ease-out .5s;
//                 // transform: translateY(50px);
//               }
//               &:hover .container {
//                 transform: translateY(-50px);
//                 overflow: unset;
//                 border-bottom-right-radius: 0px;
//                 border-bottom-left-radius: 0px;

//                 // height: fit-content;
//                 bottom: 0;
//               }
//               .container {
//                 transition: all ease 1s;
//                 // overflow: auto;
//                 border-bottom-right-radius: 15px;
//                 border-bottom-left-radius: 15px;

//                 position: absolute;
//                 // overflow: hidden;
//                 min-height: fit-content;
//                 width: 100%;
//                 bottom: 0;
//                 //  padding: 5px;
//                 .card_menu_list {
//                   position: relative;

//                   // z-index: 999;
//                   .show_menu {
//                     visibility: visible !important;
//                   }

//                   .card_menu {
//                     z-index:1;
//                     @include flex(flex, center, nowrap, row);
//                     // background-color: #302f329b;
//                     background-color: rgb(48 47 50 / 86%);
//                     // background-color: #9c27b0;
//                     // display: none;
//                     visibility: collapse;
//                     padding: 5px;
//                     position: absolute;
//                     width: 100%;
//                     top: -37px;
//                     gap: 15px;
//                     color: $primary_wh_clr;
//                     // transform: translateX(-50%);
//                     // padding-bottom: 10px;
//                     // bottom: 0;
//                     // left: 50%;
//                     backdrop-filter: blur(5px);
//                     // background: linear-gradient(
//                     //   to bottom,
//                     //   #a101a194
//                     //  #a908a977
//                     // );
//                     // bottom: 4px;
//                     // box-shadow: -10px -5px 20px 2px $primary_gry_clr;
//                     .blog_likes_span {
//                       @include flex(flex, center, nowrap, column);
//                       align-items: center;
//                       font-size: small;
//                       small {
//                         visibility: collapse;
//                       }
//                       &:hover small {
//                         visibility: visible;
//                       }

//                       .likeBtn {
//                         @include element_transparency();
//                         font-size: $largerFont;
//                         .BlogLikedBtn {
//                           path {
//                             fill: #9c27b0;
//                           }
//                           &:hover {
//                             path {
//                               // fill: #9b27b067;
//                             }
//                           }
//                         }
//                         .BlogNotLikedBtn {
//                           path {
//                             fill: #9b27b067;
//                           }
//                           &:hover {
//                             path {
//                               fill: #9c27b0;
//                             }
//                           }
//                         }
//                       }
//                     }
//                     .blog_views_span {
//                       @include flex(flex, center, nowrap, column);
//                       align-items: center;
//                       font-size: small;
//                       small {
//                         visibility: collapse;
//                       }
//                       &:hover small {
//                         visibility: visible;
//                       }
//                     }
//                   }

//                   .category_title {
//                     @include flex(flex, space-between, nowrap, row);
//                     padding: 10px;
//                     padding-bottom: 0px;
//                     span:first-child {
//                       b {
//                         font-size: small;
//                         // color: grey !important;
//                       }
//                     }
//                     .menu_icon {
//                       transform: rotate(90deg);
//                       @include element_transparency();
//                       outline: transparent;
//                       font-size: medium;
//                       &:hover {
//                         color: rgb(103, 58, 183);
//                       }
//                     }
//                   }
//                 }

//                 .card-body {
//                   overflow: hidden;
//                   // bottom: 30px;
//                   // padding: 10px;
//                   width: 100%;
//                   padding-bottom: 0px;
//                   // text-shadow: 0px 1px 2px $primary_gry_clr;
//                   // transform: translateY(50px);
//                   // height: 100px;
//                   // margin-bottom: 25px;
//                   // width: 100%;
//                   // height: 100%;

//                   .card-text {
//                     line-height: 25px;
//                     font-family: Arial, Helvetica, sans-serif;
//                     padding: 10px 10px 5px;
//                     overflow: auto;
//                     word-wrap: break-word;
//                     word-break: break-all;
//                     font-size: 0.9rem
//                     // padding-top: 10px;
//                     // padding-left: 5px;
//                     // padding-bottom: 10px;
//                   }
//                 }
//               }
//             }

//             // &:hover .card-body {
//             // transform: translateY(0px);
//             // padding-top: 30px;
//             // padding-bottom: 20px;
//             // }

//             // &:hover .card_img {
//             // height: 250px;
//             // }
//           }
//         }
//       }
//     }
//   }
// }
