.blogs {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 100px 0px;
  background-color: #f1f1f1;
}
.blogs .blogs_cn {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
}
.blogs .blogs_cn .toolbar_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 45px;
  box-shadow: 0px 0px 1px 0px grey;
  border-bottom: 2px solid #9c27b0;
  background: white;
}
.blogs .blogs_cn .toolbar_section .toolbar_category {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height: 45px;
  font-weight: 300;
  width: 100%;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .titleContainer {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: #9c27b0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: inherit;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .titleContainer .title {
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  position: relative;
  padding-left: 10px;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .categoryBtn {
  border: transparent;
  background: transparent;
  font-size: medium;
  cursor: pointer;
  color: rgba(8, 8, 8, 0.7098039216);
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .categoryBtn:hover {
  color: #7541ce;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter {
  width: 100%;
  padding-right: 5px;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filterBtn {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  border: transparent;
  background: transparent;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
  width: 100%;
  font-size: medium;
  color: rgba(8, 8, 8, 0.7098039216);
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filterBtn:hover {
  color: black;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  top: 43px;
  z-index: 110;
  background-color: white;
  border: 1px solid #e0e0e0;
  right: 10px;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr .filterBtn_cr {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  cursor: pointer;
}
.blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr .filterBtn_cr:hover {
  background-color: #efeded;
}
.blogs .blogs_cn .cards_section {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 1024px;
  margin-top: 40px;
}
.blogs .blogs_cn .cards_section .card_container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 60px;
}
.blogs .blogs_cn .cards_section .card_container .card_div {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px grey;
  background: transparent;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card {
  position: relative;
  width: 275px;
  height: 100%;
  background-color: transparent;
  border-radius: 15px;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card:hover .container .card-footer {
  visibility: visible;
  display: block;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header {
  background: transparent;
  border-radius: 15px;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header .card_img {
  height: 325px;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 15px;
  transition: all ease 1.5s;
  filter: drop-shadow(2px 13px 8px rgb(33, 32, 32));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  filter: contrast(1);
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header .img_title {
  position: absolute;
  background-color: #9c27b0;
  color: #efeded;
  font-size: small;
  border-bottom-right-radius: 15px;
  gap: 10px;
  top: 0px;
  padding: 5px;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card:hover .user_information_model {
  visibility: visible;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .user_information_model {
  visibility: collapse;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 100;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .user_information_model .userCt {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 5px;
  width: 50px;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .user_information_model .userCt img {
  width: 40px !important;
  height: 40px !important;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .user_information_model .userCt b {
  font-size: x-small;
  color: white !important;
  background-color: #9c27b0;
  text-align: center;
  border-bottom-left-radius: 15px;
  padding: 5px;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container {
  position: absolute;
  z-index: 1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 100%;
  bottom: 0;
  background-color: white;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .show_menu {
  visibility: visible !important;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items {
  position: relative;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  visibility: collapse;
  transition: visibility 0.5s;
  position: absolute;
  z-index: -1;
  box-shadow: 0px 3px 10px 0px grey;
  background-color: rgba(0, 0, 0, 0.67);
  padding: 5px 10px;
  width: 100%;
  top: -30px;
  gap: 15px;
  color: white;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_user_span {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: column;
  padding: 5px 10px;
  font-size: smaller;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span small {
  visibility: collapse;
  transition: visibility 0.5s;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span:hover small {
  visibility: visible;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn {
  border: transparent;
  background: transparent;
  font-size: larger;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogLikedBtn path {
  fill: #9c27b0;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogNotLikedBtn path {
  fill: rgba(255, 255, 255, 0.672);
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogNotLikedBtn:hover path {
  fill: #9c27b0;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  font-size: small;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span small {
  visibility: collapse;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span:hover small {
  visibility: visible;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list {
  position: relative;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 10px;
  margin-top: 10px;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title span:first-child {
  color: #7541ce;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title span:first-child b {
  font-size: small;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title .menu_icon {
  transform: rotate(90deg);
  border: transparent;
  background: transparent;
  outline: transparent;
  font-size: medium;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title .menu_icon:hover {
  color: rgb(103, 58, 183);
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card-body {
  display: absolute;
  overflow: hidden;
  bottom: 30px;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card-body .card-text {
  line-height: 25px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 10px 5px 10px;
  overflow: auto;
  font-size: 0.9rem;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer {
  word-wrap: break-word;
  word-break: break-all;
  width: 100%;
  transition: all ease 2s;
  padding: 10px;
  visibility: collapse;
  display: none;
  font-size: small;
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn {
  border: transparent;
  background: transparent;
  color: grey;
  font-size: 0.7rem;
  margin-left: 50%;
  transform: translateX(-50%);
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn::after {
  content: "";
}
.blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn:hover {
  color: #9c27b0;
}

@media screen and (max-width: 700px) {
  .blogs {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 100px 0px;
    background-color: #f1f1f1;
  }
  .blogs .blogs_cn {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .blogs .blogs_cn .toolbar_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: 45px;
    box-shadow: 0px 0px 1px 0px grey;
    border-bottom: 2px solid #9c27b0;
    background: white;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: 45px;
    font-weight: 300;
    padding-right: 10px;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .titleContainer {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: #9c27b0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: inherit;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .titleContainer .title {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
    width: 100%;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .categoryBtn {
    border: transparent;
    background: transparent;
    color: rgba(8, 8, 8, 0.7098039216);
    font-size: smaller;
    cursor: pointer;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .categoryBtn:hover {
    color: #7541ce;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter {
    position: relative;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filterBtn {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: row;
    border: transparent;
    background: transparent;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    width: 100%;
    font-size: smaller;
    color: rgba(8, 8, 8, 0.7098039216);
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filterBtn:hover {
    color: black;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    top: 25px;
    z-index: 110;
    background-color: white;
    border: 1px solid #e0e0e0;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr .filterBtn_cr {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr .filterBtn_cr:hover {
    background-color: #efeded;
  }
  .blogs .blogs_cn .cards_section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1024px;
    margin-top: 40px;
  }
  .blogs .blogs_cn .cards_section .card_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div {
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px grey;
    background: transparent;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card {
    position: relative;
    width: 275px;
    height: 100%;
    background-color: transparent;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card:hover .container .card-footer {
    visibility: visible;
    display: block;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header {
    background: transparent;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header .card_img {
    height: 325px;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    transition: all ease 1.5s;
    filter: drop-shadow(2px 2px 8px rgb(33, 32, 32));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header .img_title {
    position: absolute;
    background-color: #9c27b0;
    color: #efeded;
    font-size: small;
    border-bottom-right-radius: 15px;
    gap: 10px;
    top: 0px;
    padding: 5px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container {
    position: absolute;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: 100%;
    bottom: 0;
    background-color: white;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .show_menu {
    visibility: visible !important;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items {
    position: relative;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.67);
    visibility: collapse;
    padding: 5px;
    width: 100%;
    top: -30px;
    gap: 15px;
    color: white;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span small {
    visibility: collapse;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span:hover small {
    visibility: visible;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn {
    border: transparent;
    background: transparent;
    font-size: larger;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogLikedBtn path {
    fill: #9c27b0;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogNotLikedBtn path {
    fill: rgba(255, 255, 255, 0.672);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogNotLikedBtn:hover path {
    fill: #9c27b0;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span small {
    visibility: collapse;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span:hover small {
    visibility: visible;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list {
    position: relative;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title span:first-child b {
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title .menu_icon {
    transform: rotate(90deg);
    border: transparent;
    background: transparent;
    outline: transparent;
    font-size: medium;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title .menu_icon:hover {
    color: rgb(103, 58, 183);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card-body {
    display: absolute;
    overflow: hidden;
    bottom: 30px;
    width: 100%;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card-body .card-text {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    overflow: auto;
    font-size: 0.9rem;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer {
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    transition: all ease 2s;
    padding: 10px;
    visibility: collapse;
    display: none;
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn {
    border: transparent;
    background: transparent;
    color: grey;
    font-size: 0.7rem;
    margin-left: 50%;
    padding-top: 10px;
    transform: translateX(-50%);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn::after {
    content: "";
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn:hover {
    color: #9c27b0;
  }
}
@media screen and (max-width: 550px) {
  .blogs {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 100px 0px;
    background-color: #f1f1f1;
  }
  .blogs .blogs_cn {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .blogs .blogs_cn .toolbar_section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    max-width: 200px;
    min-width: -moz-fit-content;
    min-width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 0px 0px 1px 0px grey;
    border-bottom: 2px solid #9c27b0;
    background: white;
    font-size: small;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: 300;
    padding-right: 10px;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .titleContainer {
    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #9c27b0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    height: 80px;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .titleContainer .title {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer {
    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 10px;
    gap: 10px;
    width: 100%;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .categoryBtn {
    border: transparent;
    background: transparent;
    color: rgba(8, 8, 8, 0.7098039216);
    cursor: pointer;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .categoryBtn:hover {
    color: #7541ce;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter {
    position: relative;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filterBtn {
    display: flex;
    justify-content: unset;
    flex-wrap: wrap;
    flex-direction: row;
    border: transparent;
    background: transparent;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
    width: 100%;
    color: rgba(8, 8, 8, 0.7098039216);
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filterBtn:hover {
    color: black;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: column;
    position: absolute;
    top: 25px;
    z-index: 110;
    left: 0;
    background-color: white;
    border: 1px solid #e0e0e0;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr .filterBtn_cr {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;
  }
  .blogs .blogs_cn .toolbar_section .toolbar_category .categoryBtnContainer .toolbar_filter .filter_option_cr .filterBtn_cr:hover {
    background-color: #efeded;
  }
  .blogs .blogs_cn .cards_section {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    max-width: 1024px;
    margin-top: 40px;
  }
  .blogs .blogs_cn .cards_section .card_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 60px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div {
    border-radius: 6px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px grey;
    background: transparent;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card {
    position: relative;
    width: 275px;
    height: 100%;
    background-color: transparent;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card:hover .container .card-footer {
    visibility: visible;
    display: block;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header {
    background: transparent;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header .card_img {
    height: 325px;
    width: 100%;
    -o-object-fit: fill;
       object-fit: fill;
    transition: all ease 1.5s;
    filter: drop-shadow(2px 13px 8px rgb(33, 32, 32));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgb(0, 0, 0));
    filter: contrast(1.5);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .img_menu_header .img_title {
    position: absolute;
    background-color: #9c27b0;
    color: #efeded;
    font-size: small;
    border-bottom-right-radius: 15px;
    gap: 10px;
    top: 0px;
    padding: 5px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container {
    position: absolute;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: 100%;
    bottom: 0;
    box-shadow: 1px 1px 1px 1px grey;
    background-color: white;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .show_menu {
    visibility: visible !important;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items {
    position: relative;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu {
    position: absolute;
    z-index: -1;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.67);
    visibility: collapse;
    padding: 5px;
    width: 100%;
    top: -30px;
    gap: 15px;
    color: white;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span small {
    visibility: collapse;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span:hover small {
    visibility: visible;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn {
    border: transparent;
    background: transparent;
    font-size: larger;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogLikedBtn path {
    fill: #9c27b0;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogNotLikedBtn path {
    fill: rgba(255, 255, 255, 0.672);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_likes_span .likeBtn .BlogNotLikedBtn:hover path {
    fill: #9c27b0;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span small {
    visibility: collapse;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_items .card_menu .blog_views_span:hover small {
    visibility: visible;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list {
    position: relative;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    padding: 10px;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title span:first-child b {
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title .menu_icon {
    transform: rotate(90deg);
    border: transparent;
    background: transparent;
    outline: transparent;
    font-size: medium;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_menu_list .category_title .menu_icon:hover {
    color: rgb(103, 58, 183);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card-body {
    display: absolute;
    overflow: hidden;
    bottom: 30px;
    width: 100%;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
    word-break: break-all;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card-body .card-text {
    line-height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px 5px 10px;
    overflow: auto;
    font-size: 0.9rem;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer {
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    transition: all ease 2s;
    padding: 10px;
    visibility: collapse;
    display: none;
    font-size: small;
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn {
    border: transparent;
    background: transparent;
    color: grey;
    font-size: 0.7rem;
    margin-left: 50%;
    padding-top: 10px;
    transform: translateX(-50%);
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn::after {
    content: "";
  }
  .blogs .blogs_cn .cards_section .card_container .card_div .card .container .card_footer .cardBtn:hover {
    color: #9c27b0;
  }
}/*# sourceMappingURL=blogs.css.map */