@import "../../../variables/_variables.scss";

.SBlog {
  @include flex(flex, unset, nowrap, column);
  background-color: $primary_bg_clr;
  padding-top: 40px;
  padding-bottom: 30px;

  .blog_cn {
    @include flex(flex, unset, nowrap, column);
    align-items: $alignItems;
    .personalBlog {
      @include flex(flex, center, wrap, row);
      gap: 20px;
      max-width: 1080px;
      width: 100%;
      margin-bottom: 40px;
      padding: 40px;
      border-radius: 5px;
      // background: white;

      .mainBlog {
        flex: 3;
        word-break: break-all;
        .card_article {
          width: 100%;
          // background: $primary_wh_clr;
          border-radius: $px6_borderRadius;
          h1 {
            margin-bottom: 10px;
          }
          .user_infomation {
            @include flex(flex, unset, nowrap, row);

            .socials_div {
              @include flex(flex, flex-end, nowrap, row);
              flex: 1;
              align-items: center;
              gap: 10px;
              .icon_cn {
                .socials {
                  font-size: xx-large;
                  border-radius: 15px;

                  svg {
                    border-radius: 15px;
                    // color: red

                    &:hover {
                      transform: scale(1.1);
                    }
                  }
                }
                .linkedin_icon {
                  svg {
                    color: #0a66c2;
                  }
                }
                .twitter_icon {
                  svg {
                    color: #1d9bf0;
                  }
                }
              }
            }

            .user_para {
              @include flex(flex, unset, nowrap, row);
              align-items: center;
              gap: 5px;
              padding: 10px;
              flex: 1;
              .userCt {
                // width: 75%;

                .noteIcon {
                  // flex: 3;
                  width: 100%;
                }
              }
              span {
                color: grey;
              }
            }
          }

          .img_cn {
            position: $relative;
            transition: all ease-in-out 2s;

            .mainBlogImg {
              width: 100%;
              height: 450px;
              // border-radius: 6px 6px 0px 0px;
              &:hover {
                filter: brightness(90%);
              }
            }
            .dateTime {
              padding: 10px;
              @include flex(flex, unset, nowrap, row);
              align-items: center;
              gap: 3px;
              color: grey;
            }
          }
          .moreDetailsCn {
            transition: all ease-in-out 2s;
            // .write_div {
            //   @include flex(flex, space-between, wrap, row);
            //   align-items: $alignItems;
            //   word-break: break-all;
            //   min-height: fit-content;
            //   text-shadow: 1px 1px 1px $primary_gry_clr;
            //   bottom: 3px;
            //   width: 100%;
            //   height: 100%;
            //   span {
            //     align-items: flex-start;
            //     padding: 10px;
            //     color: $primary_gry_clr;
            //     font-size: $smallerFont;
            //   }
            //   .DateCn {
            //     @include flex(flex, flex-end, nowrap, row);
            //   }
            //   span:last-child {
            //     @include flex(flex, unset, nowrap, row);
            //     gap: 2px;
            //   }
            // }
          }
          .cardInfoCn {
            margin-top: 10px;
            .textAreaDiv {
              @include flex(flex, space-between, nowrap, column);

              .category_div {
                @include flex(flex, center, nowrap, row);
                p:first-child {
                  color: white;
                  background-color: $primary_prp_clr;
                  padding: 10px 40px;
                  border-bottom-right-radius: 15px;
                  border-top-left-radius: 15px;
                  // box-shadow: 1px 5px 15px 0px grey;
                }
              }
              .body_details_div {
                overflow: auto;
                // text-align: $alignItems;

                h2 {
                  color: #3c3c3c;
                  text-shadow: 0px 1px 1px $primary_gry_clr;
                  text-align: $alignItems;
                  font-size: $largerFont;
                  border-bottom: 2px solid $border_wh_clr;
                  padding: 30px 5px 10px 5px;
                }
                .blogDesc {
                  margin-left: 5px;
                  overflow: auto;
                  padding: 20px;
                  line-height: 30px;

                  a {
                    color: #9c27b0 !important;
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                  // max-height: 300px;
                }
              }

              .footer_blog_details {
                @include flex(flex, flex-end, wrap, row);
                align-items: $alignItems;
                padding: 10px;
                border-top: 2px solid $border_wh_clr;

                .likeBtnCn {
                  cursor: unset;
                  .likeBtn {
                    @include element_transparency();
                    font-size: $xLargeFont;

                    .BlogLikedBtn {
                      cursor: pointer;
                      background: white;
                      border-radius: 50%;
                      padding: 5px;
                      font-size: xx-large;
                      border: 1px solid #9c27b0;
                      path {
                        fill: #9c27b0;
                      }
                      &:hover {
                        path {
                          fill: #9b27b067;
                        }
                      }
                    }
                    .BlogNotLikedBtn {
                      cursor: pointer;
                      background: white;
                      border-radius: 50%;
                      padding: 5px;
                      font-size: xx-large;
                      path {
                        fill: #9b27b067;
                      }
                      &:hover {
                        path {
                          fill: #9c27b0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .sideBlog_Div {
        @include flex(flex, unset, wrap, row);
        flex: 1;
        height: 680px;
        width: 100%;

        .userCt {
          font-size: $mediumFont;
          img {
            display: none;
          }
          b {
            // font-size: $smallFont !important;
            padding-left: 5px !important;
          }
        }
        h4 {
          @include flex(flex, flex-start, wrap, row);
          align-items: center;
          font-size: $largeFont;
          margin-bottom: 10px;
          padding-bottom: 5px;
          padding-left: 10px;
          border-bottom: 2px solid $primary_prp_clr;
          width: 100%;
          // gap: 5px;
        }
        .sideBlog_cr {
          @include flex(flex, unset, nowrap, column);
          align-items: $alignItems;
          overflow: $hid_overFlow;
          height: inherit;
          gap: 20px;
          width: 100%;
          border-radius: 3px;
          padding: 10px;
          &:hover {
            overflow: auto;
          }
          .sideBlogCards:not(.sideBlogCards:first-child) {
            border-top: 3px solid #e5e4e4;
          }
          .sideBlogCards {
            // background: $primary_wh_clr;
            word-break: break-all;
            // box-shadow: 0px 0px 2px 0px grey;
            // cursor: $cursorPointer;
            min-height: fit-content;
            width: 200px;
            max-height: 250px;
            border-radius: 6px;

            &:hover .sideBlogImg {
              filter: brightness(90%);
            }
            &:hover {
              background: #f1f1f1;
            }

            .sideBlogTime {
              color: grey;
              margin-top: 10px;
              font-size: small;
            }
            .sideBlogTitle {
              padding: 10px 0px;
            }

            &:hover .sideBlogFooter .sideBlogCategory{
                background-color: #9c27b0;
                color: white;
                &::before{
                  width: 100%;
                }
              // }
            }
            .sideBlogFooter {
              @include flex(flex, space-between, nowrap, row);
              align-items: center;
              .sideBlogCategory {
                position: relative;
                z-index: 1;
                border: 1px solid $primary_gry_clr;
                padding: 5px;
                border-radius: 10px;
                color: $primary_gry_clr;
                font-size: small;
                transition: all ease-in-out 0.5;

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 0;
                  height: 100%;
                  background: transparent;
                  z-index: -1;
                  transition: 0.5s;
                }
              }

              .sideBlogBtn {
                border: 1px solid transparent;
                font-size: x-large;
                color: grey;
                // padding: 5px;
                // border-radius: 50%;
                transition: all ease-in-out 0.5s;

                &:hover{
                  color: $primary_prp_clr;
                  transform: scale(1.1);
                }
              }
            }

            // .sideBlogImg {
            //   // border-radius: 6px;
            //   border-top-left-radius: 6px;
            //   border-top-right-radius: 6px;

            //   width: 100%;
            //   height: 100px;
            // }
            // .textAreaCr {
            //   @include flex(flex, unset, nowrap, column);
            //   min-width: fit-content;
            //   height: fit-content;
            //   overflow: auto;
            //   padding: 5px;
            //   gap: 10px;
            //   width: 100%;
            // .title_div {
            //   @include flex(flex, space-between, wrap, row);
            //   align-items: $alignItems;
            //   border-top: 1px solid $border_wh_clr;
            //   h5:first-child {
            //     color: $primary_prp_clr;
            //     width: fit-content;
            //     padding: 5px;
            //     border-radius: 6px;
            //     font-size: $smallFont;
            //   }
            // h5:last-child {
            //   color: $primary_gry_clr;
            //   font-size: $smallFont;
            // }
            // }
            // .desc_div {
            //   @include flex(flex, unset, nowrap, column);
            //   gap: 10px;
            //   word-break: break-all;
            // }
            // }
          }
        }
      }
    }
  }

  .allBlogs {
    margin: 60px 0px;
    width: 100%;
    max-width: 85%;
    h2 {
      font-size: $largerFont;
      border-bottom: 2px solid $border_wh_clr;
      margin: 10px auto;
      padding-bottom: 5px;
      max-width: 1280px;
      padding-left: 10px;
    }
    .allBlogs_cn {
      @include flex(flex, space-evenly, wrap, row);
      align-items: $alignItems;
      padding: 5px;
      gap: 5px;
      margin-top: 30px;
      &:hover .blogs_cards_btn {
        visibility: visible;
      }
      .card_div {
        background-color: $primary_wh_clr;
        cursor: $cursorPointer;
        transition: linear 0.5s;
        box-shadow: 0px 0px 4px 1px $primary_gry_clr;
        flex: 1;
        // opacity: 0.8;
        max-width: 250px;
        min-width: 200px;
        height: 300px;
        border-radius: 6px;
        &:hover {
          background-color: $border_wh_clr;
          transform: scale(1.05);
          opacity: 1;
        }
        .footer_side_photo {
          width: 100%;
          height: 150px;
          // border-bottom-left-radius: 30px;
          // border-bottom-right-radius: 30px;
        }

        .allBlogsText_Cr {
          @include flex(flex, space-between, nowrap, column);
          font-family: emoji;
          overflow: auto;
          padding: 5px;
          height: 145px;
          .allBlogs_title {
            @include flex(flex, space-between, nowrap, row);
            padding: 5px;
            p {
              font-size: $smallFont;
            }
            p:first-child {
              color: $primary_dkprp_clr;
              text-shadow: 0px 0px 1px $primary_gry_clr;
              box-shadow: 0px 0px 2px 0px $primary_gry_clr;
              border: 1px solid;
              padding: 5px;
              border-top-right-radius: 15px;
              border-bottom-left-radius: 15px;
            }
            p:last-child {
              color: $primary_gry_clr;
            }
          }
          .desc_div {
            p {
              line-height: 20px;
              font-size: $smallFont;
              padding-bottom: 5px;
              word-wrap: break-word;
              overflow: auto;
            }
          }
          .allBlogs_Btn {
            background-color: $primary_prp_clr;
            color: $primary_wh_clr;
            cursor: $cursorPointer;
            border: $border_tr;
            border-radius: 6px;
            padding: 5px;
            &:hover {
              box-shadow: 0px 0px 5px 1px $primary_wh_clr;
            }
          }
        }
      }

      .blogs_cards_btn {
        @include element_transparency();
        font-size: $xLargeFont;
        text-align: $alignItems;
        transition: all ease-in-out 0.5s;
        visibility: collapse;
        color: rgb(108, 101, 101);
        width: 40px;
        height: 35px;
        margin: 0px 10px;
        .blogs_cards_icon {
          &:hover {
            box-shadow: 0px 0px 20px 0px $primary_gry_clr;
            background-color: rgba(20, 18, 18, 0.175);
            color: rgb(61, 60, 60);
            transform: scale(1.05);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
