@import "../../../variables/_variables.scss";

.SBlog {
  @include flex(flex, unset, nowrap, column);
  background-color: $primary_bg_clr;
  padding-top: 40px;
  padding-bottom: 30px;

  .blog_cn {
    @include flex(flex, unset, nowrap, column);
    align-items: $alignItems;
    .personalBlog {
      @include flex(flex, center, wrap, row);
      gap: 20px;
      max-width: 1080px;
      width: 100%;
      margin-bottom: 40px;
      padding: 40px;
      border-radius: 5px;
      background: white;

      .mainBlog {
        flex: 3;
        word-break: break-all;
        .card_article {
          width: 100%;
          background: $primary_wh_clr;
          border-radius: $px6_borderRadius;
          .img_cn {
            position: $relative;
            transition: all ease-in-out 2s;

            .mainBlogImg {
              width: 100%;
              height: 450px;
              // border-radius: 6px 6px 0px 0px;
              &:hover {
                filter: brightness(90%);
              }
            }
          }
          .moreDetailsCn {
            transition: all ease-in-out 2s;
            .write_div {
              @include flex(flex, space-between, wrap, row);
              align-items: $alignItems;
              word-break: break-all;
              min-height: fit-content;
              text-shadow: 1px 1px 1px $primary_gry_clr;
              bottom: 3px;
              width: 100%;
              height: 100%;
              span {
                align-items: flex-start;
                padding: 10px;
                color: $primary_gry_clr;
                font-size: $smallerFont;
              }
              .DateCn {
                @include flex(flex, flex-end, nowrap, row);
              }
              span:last-child {
                @include flex(flex, unset, nowrap, row);
                gap: 2px;
              }
            }
          }
          .cardInfoCn {
            .textAreaDiv {
              @include flex(flex, space-between, nowrap, column);
              .category_div {
                @include flex(flex, center, nowrap, row);
                p:first-child {
                  color: $primary_prp_clr;
                  padding: 5px;
                }
              }
              .body_details_div {
                overflow: auto;
                // text-align: $alignItems;

                h2 {
                  color: #3c3c3c;
                  text-shadow: 0px 1px 1px $primary_gry_clr;
                  text-align: $alignItems;
                  font-size: $largerFont;
                  border-bottom: 2px solid $border_wh_clr;
                  padding: 5px 5px 10px 5px;
                }
                .blogDesc {
                  margin-left: 5px;
                  overflow: auto;
                  padding: 20px;
                  line-height: 30px;

                  a {
                    color: #9c27b0 !important;
                    text-decoration: none;

                    &:hover {
                      text-decoration: underline;
                    }
                  }
                  // max-height: 300px;
                }
              }

              .footer_blog_details {
                @include flex(flex, space-between, wrap, row);
                align-items: $alignItems;
                padding: 10px;
                border-top: 2px solid $border_wh_clr;

                .user_para {
                  @include flex(flex, space-between, wrap, row);
                  gap: 5px;
                }
                .likeBtnCn {
                  cursor: unset;
                  .likeBtn {
                    @include element_transparency();
                    font-size: $xLargeFont;

                    .BlogLikedBtn {
                      cursor: pointer;
                      path {
                        fill: #9c27b0;
                      }
                      &:hover {
                        path {
                          fill: #9b27b067;
                        }
                      }
                    }
                    .BlogNotLikedBtn {
                      cursor: pointer;
                      path {
                        fill: #9b27b067;
                      }
                      &:hover {
                        path {
                          fill: #9c27b0;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }

      .sideBlog_Div {
        @include flex(flex, unset, wrap, row);
        flex: 1;
        height: 680px;
        width: 100%;
        h4 {
          @include flex(flex, flex-start, wrap, row);
          font-size: $largeFont;
          margin-bottom: 10px;
          padding-bottom: 5px;
          padding-left: 10px;
          border-bottom: 2px solid $primary_prp_clr;
          width: 100%;
          gap: 5px;
        }
        .sideBlog_cr {
          @include flex(flex, unset, nowrap, column);
          align-items: $alignItems;
          overflow: $hid_overFlow;
          height: inherit;
          gap: 20px;
          width: 100%;
          border-radius: 3px;
          padding: 10px;
          &:hover {
            overflow: auto;
          }
          .sideBlogCards {
            // background: $primary_wh_clr;
            box-shadow: 0px 0px 2px 0px grey;
            cursor: $cursorPointer;
            min-height: fit-content;
            width: 200px;
            max-height: 250px;
            border-radius: 6px;
            &:hover .sideBlogImg {
              filter: brightness(90%);
            }
            &:hover {
              background:#f1f1f1;
            }
            .sideBlogImg {
              // border-radius: 6px;
              border-top-left-radius: 6px;
              border-top-right-radius: 6px;

              width: 100%;
              height: 100px;
            }
            .textAreaCr {
              @include flex(flex, unset, nowrap, column);
              min-width: fit-content;
              height: fit-content;
              overflow: auto;
              padding: 5px;
              gap: 10px;
              width: 100%;
              .title_div {
                @include flex(flex, space-between, wrap, row);
                align-items: $alignItems;
                border-top: 1px solid $border_wh_clr;
                h5:first-child {
                  color: $primary_prp_clr;
                  width: fit-content;
                  padding: 5px;
                  border-radius: 6px;
                  font-size: $smallFont;
                }
                h5:last-child {
                  color: $primary_gry_clr;
                  font-size: $smallFont;
                }
              }
              .desc_div {
                @include flex(flex, unset, nowrap, column);
                gap: 10px;
                word-break: break-all;
              }
            }
          }
        }
      }
    }
  }

  .allBlogs {
    margin: 60px 0px;
    width: 100%;
    h2 {
      font-size: $largerFont;
      border-bottom: 2px solid $border_wh_clr;
      margin: 10px auto;
      padding-bottom: 5px;
      max-width: 1280px;
      padding-left: 10px;
    }
    .allBlogs_cn {
      @include flex(flex, space-evenly, wrap, row);
      align-items: $alignItems;
      padding: 5px;
      gap: 5px;
      margin-top: 30px;
      &:hover .blogs_cards_btn {
        visibility: visible;
      }
      .card_div {
        background-color: $primary_wh_clr;
        cursor: $cursorPointer;
        transition: linear 1s;
        box-shadow: 0px 0px 4px 1px $primary_gry_clr;
        flex: 1;
        opacity: 0.8;
        max-width: 300px;
        min-width: 200px;
        height: 300px;
        border-radius: 6px;
        &:hover {
          background-color: $border_wh_clr;
          transform: scale(1.05);
          opacity: 1;
        }
        .footer_side_photo {
          width: 100%;
          height: 150px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
        }

        .allBlogsText_Cr {
          @include flex(flex, space-between, nowrap, column);
          font-family: emoji;
          overflow: auto;
          padding: 5px;
          height: 145px;
          .allBlogs_title {
            @include flex(flex, space-between, nowrap, row);
            padding: 5px;
            p {
              font-size: $smallFont;
            }
            p:first-child {
              color: $primary_dkprp_clr;
              text-shadow: 0px 0px 1px $primary_gry_clr;
              box-shadow: 0px 0px 2px 0px $primary_gry_clr;
              border: 1px solid;
              padding: 5px;
            }
            p:last-child {
              color: $primary_gry_clr;
            }
          }
          .desc_div {
            p {
              line-height: 20px;
              font-size: $smallFont;
              padding-bottom: 5px;
            }
          }
          .allBlogs_Btn {
            background-color: $primary_prp_clr;
            color: $primary_wh_clr;
            cursor: $cursorPointer;
            border: $border_tr;
            border-radius: 6px;
            padding: 5px;
            &:hover {
              box-shadow: 0px 0px 5px 1px $primary_wh_clr;
            }
          }
        }
      }

      .blogs_cards_btn {
        @include element_transparency();
        font-size: $xLargeFont;
        text-align: $alignItems;
        transition: all ease-in-out 2s;
        visibility: collapse;
        color: rgb(108, 101, 101);
        width: 40px;
        height: 35px;
        margin: 0px 10px;
        .blogs_cards_icon {
          &:hover {
            box-shadow: 0px 0px 20px 0px $primary_gry_clr;
            background-color: rgba(20, 18, 18, 0.175);
            color: rgb(61, 60, 60);
            transform: scale(1.05);
            border-radius: 50%;
          }
        }
      }
    }
  }
}
