.SBlog {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 30px;
}
.SBlog .blog_cn {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.SBlog .blog_cn .personalBlog {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  max-width: 1080px;
  width: 100%;
  margin-bottom: 40px;
  padding: 40px;
  border-radius: 5px;
}
.SBlog .blog_cn .personalBlog .mainBlog {
  flex: 3;
  word-break: break-all;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article {
  width: 100%;
  border-radius: 6px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article h1 {
  margin-bottom: 10px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .socials_div {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-direction: row;
  flex: 1;
  align-items: center;
  gap: 10px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .socials_div .icon_cn .socials {
  font-size: xx-large;
  border-radius: 15px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .socials_div .icon_cn .socials svg {
  border-radius: 15px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .socials_div .icon_cn .socials svg:hover {
  transform: scale(1.1);
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .socials_div .icon_cn .linkedin_icon svg {
  color: #0a66c2;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .socials_div .icon_cn .twitter_icon svg {
  color: #1d9bf0;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .user_para {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 10px;
  flex: 1;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .user_para .userCt .noteIcon {
  width: 100%;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .user_infomation .user_para span {
  color: grey;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .img_cn {
  position: relative;
  transition: all ease-in-out 2s;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .img_cn .mainBlogImg {
  width: 100%;
  height: 450px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .img_cn .mainBlogImg:hover {
  filter: brightness(90%);
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .img_cn .dateTime {
  padding: 10px;
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  color: grey;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .moreDetailsCn {
  transition: all ease-in-out 2s;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn {
  margin-top: 10px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .category_div {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .category_div p:first-child {
  color: white;
  background-color: #9c27b0;
  padding: 10px 40px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .body_details_div {
  overflow: auto;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .body_details_div h2 {
  color: #3c3c3c;
  text-shadow: 0px 1px 1px grey;
  text-align: center;
  font-size: larger;
  border-bottom: 2px solid #ebebeb;
  padding: 30px 5px 10px 5px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .body_details_div .blogDesc {
  margin-left: 5px;
  overflow: auto;
  padding: 20px;
  line-height: 30px;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .body_details_div .blogDesc a {
  color: #9c27b0 !important;
  text-decoration: none;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .body_details_div .blogDesc a:hover {
  text-decoration: underline;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-top: 2px solid #ebebeb;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn {
  cursor: unset;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn .likeBtn {
  border: transparent;
  background: transparent;
  font-size: x-large;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn .likeBtn .BlogLikedBtn {
  cursor: pointer;
  background: white;
  border-radius: 50%;
  padding: 5px;
  font-size: xx-large;
  border: 1px solid #9c27b0;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn .likeBtn .BlogLikedBtn path {
  fill: #9c27b0;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn .likeBtn .BlogLikedBtn:hover path {
  fill: rgba(155, 39, 176, 0.4039215686);
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn .likeBtn .BlogNotLikedBtn {
  cursor: pointer;
  background: white;
  border-radius: 50%;
  padding: 5px;
  font-size: xx-large;
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn .likeBtn .BlogNotLikedBtn path {
  fill: rgba(155, 39, 176, 0.4039215686);
}
.SBlog .blog_cn .personalBlog .mainBlog .card_article .cardInfoCn .textAreaDiv .footer_blog_details .likeBtnCn .likeBtn .BlogNotLikedBtn:hover path {
  fill: #9c27b0;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div {
  display: flex;
  justify-content: unset;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  height: 680px;
  width: 100%;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .userCt {
  font-size: medium;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .userCt img {
  display: none;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .userCt b {
  padding-left: 5px !important;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div h4 {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  font-size: large;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-bottom: 2px solid #9c27b0;
  width: 100%;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height: inherit;
  gap: 20px;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr:hover {
  overflow: auto;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards:not(.sideBlogCards:first-child) {
  border-top: 3px solid #e5e4e4;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards {
  word-break: break-all;
  min-height: -moz-fit-content;
  min-height: fit-content;
  width: 200px;
  max-height: 250px;
  border-radius: 6px;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards:hover .sideBlogImg {
  filter: brightness(90%);
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards:hover {
  background: #f1f1f1;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards .sideBlogTime {
  color: grey;
  margin-top: 10px;
  font-size: small;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards .sideBlogTitle {
  padding: 10px 0px;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards:hover .sideBlogFooter .sideBlogCategory {
  background-color: #9c27b0;
  color: white;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards:hover .sideBlogFooter .sideBlogCategory::before {
  width: 100%;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards .sideBlogFooter {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards .sideBlogFooter .sideBlogCategory {
  position: relative;
  z-index: 1;
  border: 1px solid grey;
  padding: 5px;
  border-radius: 10px;
  color: grey;
  font-size: small;
  transition: all ease-in-out 0.5;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards .sideBlogFooter .sideBlogCategory::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: transparent;
  z-index: -1;
  transition: 0.5s;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards .sideBlogFooter .sideBlogBtn {
  border: 1px solid transparent;
  font-size: x-large;
  color: grey;
  transition: all ease-in-out 0.5s;
}
.SBlog .blog_cn .personalBlog .sideBlog_Div .sideBlog_cr .sideBlogCards .sideBlogFooter .sideBlogBtn:hover {
  color: #9c27b0;
  transform: scale(1.1);
}
.SBlog .allBlogs {
  margin: 60px 0px;
  width: 100%;
  max-width: 85%;
}
.SBlog .allBlogs h2 {
  font-size: larger;
  border-bottom: 2px solid #ebebeb;
  margin: 10px auto;
  padding-bottom: 5px;
  max-width: 1280px;
  padding-left: 10px;
}
.SBlog .allBlogs .allBlogs_cn {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  gap: 5px;
  margin-top: 30px;
}
.SBlog .allBlogs .allBlogs_cn:hover .blogs_cards_btn {
  visibility: visible;
}
.SBlog .allBlogs .allBlogs_cn .card_div {
  background-color: white;
  cursor: pointer;
  transition: linear 0.5s;
  box-shadow: 0px 0px 4px 1px grey;
  flex: 1;
  max-width: 250px;
  min-width: 200px;
  height: 300px;
  border-radius: 6px;
}
.SBlog .allBlogs .allBlogs_cn .card_div:hover {
  background-color: #ebebeb;
  transform: scale(1.05);
  opacity: 1;
}
.SBlog .allBlogs .allBlogs_cn .card_div .footer_side_photo {
  width: 100%;
  height: 150px;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: emoji;
  overflow: auto;
  padding: 5px;
  height: 145px;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr .allBlogs_title {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 5px;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr .allBlogs_title p {
  font-size: small;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr .allBlogs_title p:first-child {
  color: #7541ce;
  text-shadow: 0px 0px 1px grey;
  box-shadow: 0px 0px 2px 0px grey;
  border: 1px solid;
  padding: 5px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr .allBlogs_title p:last-child {
  color: grey;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr .desc_div p {
  line-height: 20px;
  font-size: small;
  padding-bottom: 5px;
  word-wrap: break-word;
  overflow: auto;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr .allBlogs_Btn {
  background-color: #9c27b0;
  color: white;
  cursor: pointer;
  border: transparent;
  border-radius: 6px;
  padding: 5px;
}
.SBlog .allBlogs .allBlogs_cn .card_div .allBlogsText_Cr .allBlogs_Btn:hover {
  box-shadow: 0px 0px 5px 1px white;
}
.SBlog .allBlogs .allBlogs_cn .blogs_cards_btn {
  border: transparent;
  background: transparent;
  font-size: x-large;
  text-align: center;
  transition: all ease-in-out 0.5s;
  visibility: collapse;
  color: rgb(108, 101, 101);
  width: 40px;
  height: 35px;
  margin: 0px 10px;
}
.SBlog .allBlogs .allBlogs_cn .blogs_cards_btn .blogs_cards_icon:hover {
  box-shadow: 0px 0px 20px 0px grey;
  background-color: rgba(20, 18, 18, 0.175);
  color: rgb(61, 60, 60);
  transform: scale(1.05);
  border-radius: 50%;
}/*# sourceMappingURL=blog.css.map */