@import "../../../variables/_variables.scss";

.SBlog {
  @include flex(flex, unset, nowrap, column);
  padding-top: 40px;
  padding-bottom: 30px;
  background-color: #f1f1f1;
  .blog_cn {
    @include flex(flex, unset, nowrap, column);
    align-items: center;
    .personalBlog {
      @include flex(flex, center, wrap, row);
      // align-items: center;
      gap: 20px;
      max-width: 1080px;
      width: 100%;
      // max-height: 900px;
      // height: 800px;

      margin-bottom: 40px;
      .mainBlog {
        flex: 3;

        .card_article {
          width: 100%;
          background: white;
          border-radius: 6px;
          .img_cn {
            position: relative;
            transition: all ease-in-out 2s;

            .mainBlogImg {
              width: 100%;
              height: 500px;
              border-radius: 6px 6px 0px 0px;
              // transition: all ease-in-out 2s;

              // filter: brightness(90%);
              &:hover {
                // filter: brightness(20%);
                // filter: blur(1px);
              }
            }

            &:hover .moreDetailsCn {
              visibility: visible;
            }
            &:hover .mainBlogImg {
              filter: brightness(90%);
            }
            .moreDetailsCn {
              visibility: collapse;
              transition: all ease-in-out 2s;

              .write_div {
                @include flex(flex, space-between, wrap, row);
                word-break: break-all;
                position: absolute;
                color: white;
                text-shadow: 1px 1px 1px grey;
                font-weight: bold;
                min-height: fit-content;
                // background-color: rgba(46, 41, 41, 0.068);
                bottom: 3px;
                padding: 5px;
                width: 100%;
                height: 100%;

                p {
                  align-items: flex-start;
                  padding: 10px;
                }
                p:first-child {
                  @include flex(flex, flex-end, nowrap, row);
                }
                p:last-child {
                  @include flex(flex, unset, nowrap, row);
                  gap: 2px;
                }
              }
            }
          }

          .cardInfoCn {
            padding-top: 20px;
            .textAreaDiv {
              @include flex(flex, space-between, nowrap, column);
              .category_div {
                @include flex(flex, center, nowrap, row);
                p:first-child {
                  color: #9c27b0;
                  padding: 5px;
                }
              }
              .body_details_div {
                overflow: auto;
                text-align: center;
                
                h2 {
                  color: #3c3c3c;
                  text-shadow: 0px 1px 1px grey;
                  font-size: larger;
                }
                .blogDesc {
                  padding: 20px;
                  line-height: 25px;
                }
              }


              .footer_blog_details{
                @include flex(flex, space-between, wrap, row);
                align-items: center;
                padding: 10px;
                border-top: 2px solid #ebebeb;;

                .likeBtnCn{

                  .likeBtn {
                    border: transparent;
                    background-color: transparent;
                    font-size: x-large;
    
                    .BlogLikedBtn{
                        color: #9c27b0;
                        &:hover{
                          color: black;
                        }
                    }
                    .BlogNotLikedBtn{
                      color: black;
                      &:hover{
                        color: #9c27b0;
                      }
                    }
                  }
                }
                .DateCn{
                  color: grey;
                  font-size: 0.9rem
                }
              }


            }
          }
        }
      }

      .sideBlog_Div {
        @include flex(flex, unset, wrap, row);
        flex: 1;
        // height: 750px;
        height: 680px;
        width: 100%;
        h4 {
          @include flex(flex, flex-start, wrap, row);
          font-size: large;
          margin-bottom: 10px;
          padding-bottom: 5px;
          padding-left: 10px;
          border-bottom: 2px solid #9c27b0;
          width: 100%;
        }
        .sideBlog_cr {
          @include flex(flex, unset, nowrap, column);
          gap: 20px;

          align-items: center;
          height: inherit;
          width: 100%;

          overflow: hidden;
          border-radius: 3px;
          padding: 10px;

          &:hover {
            overflow: auto;
            // overflow:
          }

          .sideBlogCards {
            // border: 1px solid grey;
            width: 200px;
            // height: 100%;
            max-height: 250px;
            min-height: fit-content;
            // overflow: auto;
            background: white;
            border-radius: 6px;
            cursor: pointer;

            &:hover .sideBlogImg {
              filter: brightness(90%);
            }
            &:hover {
              // background-color: #b099f0;
            background: snow;

            }
            // box-shadow: 0px 0px 1px 0px grey;
            .sideBlogImg {
              border-radius: 6px;
              width: 100%;
              height: 100px;
            }

            .textAreaCr {
              padding: 5px;
              @include flex(flex, unset, nowrap, column);
              gap: 10px;
              width: 100%;
              min-width: fit-content;
              height: fit-content;
            overflow: auto;

              // box-shadow: 0px 0px 2px 0px grey;
              .title_div {
                @include flex(flex, space-between, wrap, row);
                align-items: center;
                border-top: 1px solid #e9e7e7;
                h5:first-child {
                  // background-color: rgb(0 0 0 / 57%);
                  color: #9c27b0;
                  width: fit-content;
                  padding: 5px;
                  border-radius: 6px;
                  font-size: small;
                  // border: 1px solid grey;
                }
                h5:last-child {
                  color: grey;
                  font-size: small
                }
              }

              .desc_div {
                @include flex(flex, unset, nowrap, column);
                gap: 10px;
                // .sideBlogBtn {
                //   background-color: transparent;
                //   color: blueviolet;
                //   border: transparent;
                //   padding: 5px;
                //   border-radius: 6px;
                //   cursor: pointer;
                //   &:hover {
                //     color: rgb(208, 4, 254);
                //   }
                // }
              }
            }
          }
        }
      }
    }
  }

  .allBlogs {
    // margin-top: 40px;
    // margin-bottom: 40px;
    margin: 60px 0px;
    // max-width: 1080px;
    width: 100%;
    h2 {
      margin: 10px auto;
      padding-bottom: 5px;
      border-bottom: 2px solid #d6d5da;
      max-width: 1280px;
      font-size: larger;
      padding-left: 10px;
      // width: 100%;
    }
    .allBlogs_cn {
      @include flex(flex, space-evenly, wrap, row);
      align-items: center;
      padding: 5px;
      gap: 5px;
      margin-top: 30px;
      &:hover .blogs_cards_btn{
        visibility: visible;

      }
      .card_div {
        opacity: 0.8;
        width: 20%;
        height: 300px;
        box-shadow: 0px 0px 4px 1px grey;
        border-radius: 6px;
        background-color: white;


        &:hover{
          opacity: 1; 
        transform: scale(1.05);
        }
        cursor: pointer;
        transition: linear 1s;
        &:hover {
          background-color: #ebebeb;
          // transform: scale(1.05);
        }
        .footer_side_photo {
          width: 100%;
          // height: 250px;
          height: 150px;
          // border-radius: 4px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
        }

        .allBlogsText_Cr {
          @include flex(flex, space-between, nowrap, column);
          font-family: emoji;
          padding: 5px;
          overflow: auto;
          height: 145px;
          .allBlogs_title {
            @include flex(flex, space-between, nowrap, row);
            padding: 5px;

            p {
              font-size: small;
            }
            p:first-child {
              // color: white;
              // background-color: crimson;
              color: #673AB7;
              border: 1px solid;
              padding: 5px;
              text-shadow: 0px 0px 1px grey;
              box-shadow: 0px 0px 2px 0px grey;
            }
            p:last-child {
              color: grey;
            }
          }
          .desc_div {
            p {
              // font-family: emoji;
              // color: #673ab7;
              // color: blueviolet;
              line-height: 20px;
              font-size: small;
              padding-bottom: 5px;
            }
          }

          .allBlogs_Btn {
            // background-color: #9e9e9e;
            // background-color: #673ab7;
            background-color: #9c27b0;;
            color: white;
            cursor: pointer;
            border: transparent;
            border-radius: 6px;
            padding: 5px;

            &:hover {
              box-shadow: 0px 0px 5px 1px white;
            }
          }
        }
      }

      .blogs_cards_btn {
        color: rgb(108, 101, 101);
        // color: #673AB7;;
        background-color: transparent;
        border: transparent;
        width: 40px;
        height: 35px;
        font-size: x-large;
        text-align: center;
        // padding:10px;
        visibility: collapse;
        margin: 0px 10px;
      transition: all ease-in-out 2s;

        .blogs_cards_icon {
          // width: 40px;
          &:hover {
            border-radius: 50%;
            color: rgb(61, 60, 60);

            background-color: rgba(20, 18, 18, 0.175);
            transform: scale(1.05);
            box-shadow: 0px 0px 20px 0px grey;
          }
        }
      }
    }
  }
}

// @import "../../../variables/_variables.scss";

// .SBlog {
//   @include flex(flex, unset, nowrap, column);
//   padding-top: 30px;
//   padding-bottom: 30px;
//   background-color: #f1f1f1;
//   .blog_cn {
//     @include flex(flex, unset, nowrap, column);
//     align-items: center;
//     .personalBlog {
//       @include flex(flex, unset, nowrap, row);
//       gap: 20px;
//       width: 85%;
//       // min-width: 500px;
//       .mainBlog {
//         min-width: fit-content;
//         box-shadow: 0px 0px 2px 3px grey;
//         height: 500px;
//         border-radius: 6px;
//         cursor: pointer;
//         .card_article {
//           @include flex(flex, unset, nowrap, row);
//           height: 100%;
//           width: 800px;
//           .mainBlogImg {
//             width: 50%;
//             max-height: fit-content;
//             object-fit: fill;
//             border-bottom-left-radius: 6px;
//             border-top-left-radius: 6px;
//           }

//           .cardInfoCn {
//             width: 100%;
//             min-width: 50%;
//             height: 100%;
//             .textAreaContainer {
//               @include flex(flex, space-between, nowrap, column);

//               border-top-right-radius: 6px;
//               border-bottom-right-radius: 6px;
//               position: relative;
//               overflow: auto;
//               width: 100%;
//               min-width: 50%;
//               height: 100%;
//               // background-color: rgb(42, 40, 40);
//               // background: radial-gradient(#76b2fe, #b69efe);
//               // background: radial-gradient(#BA68C8, #673AB7);
//               // background: radial-gradient(#000000, #673AB7);
//               // background: radial-gradient(#211e1e, #353333);
//               background: radial-gradient(#ffffff, #d1caca);
//               font-family: Poppins, sans-serif;

//               &:hover {
//                 // background: radial-gradient(#050505, #353333);
//               background: radial-gradient(#e1dede, #cbc9c9);

//               &:hover .title_div {
//                 background: #0c0c0cc1;

//                 p:first-child {
//                   color: white;
//                 }
//                 p:last-child {
//                   color: #ffffff;
//                 }
//               }
//               }

//               .textAreaDiv {
//                 @include flex(flex, unset, nowrap, column);
//                 gap: 20px;
//                 height: 50%;
//                 // overflow: auto;

//                 .title_div {
//                   @include flex(flex, space-between, nowrap, row);
//                   padding: 10px 20px;
//                   // background: #673ab7ad;
//                   background-color: rgb(0 0 0 / 68%);
//                   border-bottom-right-radius: 50px;
//                   border-bottom-left-radius: 50px;

//                   p:first-child {
//                     color: white;
//                     font-size: large;
//                     border-radius: 7px;
//                   }
//                   p:last-child {
//                     color: #ffffffb0;
//                   }
//                 }

//                 .desc_div {
//                   @include flex(flex, space-between, nowrap, column);

//                   padding: 10px;
//                   gap: 20px;
//                   font-family: emoji;
//                   h2 {
//                     color: #020202;
//                     text-shadow: 0px 0px 2px rgb(234, 234, 234);
//                     // font-family: fantasy;
//                     word-spacing: 5px;
//                   }
//                   h3 {
//                     line-height: 25px;
//                     // color: #673ab7;
//                     font-weight: bold;
//                   }
//                 }
//               }

//               .moreDetailsCn {
//                 @include flex(flex, center, nowrap, row);

//                 .noDetailsBtn {
//                   background-color: transparent;
//                   border: transparent;
//                   cursor: pointer;
//                   transition: all ease-in-out 1s;
//                   color: #9e9e9e;
//                   &:hover {
//                     color: white;
//                   }
//                   .moreDetailsIcon {
//                     font-size: xx-large;
//                   }
//                 }
//                 .moreDetailsBtn {
//                   margin-bottom: 35px;
//                   background-color: transparent;
//                   border: transparent;
//                   cursor: pointer;
//                   color: #9e9e9e;
//                   .moreDetailsIcon {
//                     font-size: xx-large;
//                     &:hover {
//                       color: white;
//                     }
//                   }
//                 }
//                 .write_div {
//                   @include flex(flex, space-between, nowrap, row);
//                   padding: 5px;
//                   position: absolute;
//                   bottom: 0;
//                   padding: 10px 5px;
//                   width: 80%;
//                   background-color: rgb(11 11 11 / 60%);
//                   border-radius: 4px;
//                   p {
//                     @include flex(flex, unset, nowrap, row);
//                     align-items: center;
//                     gap: 5px;
//                     color: #acaaacdc;

//                   }

//                   span {
//                     color: rgba(255, 255, 255, 0.6901960784);
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//       .sideBlog_Div {
//         h4 {
//           @include flex(flex, unset, nowrap, row);
//           font-size: larger;
//           margin-bottom: 10px;
//           padding-bottom: 5px;

//           border-bottom: 2px solid #673ab7;
//         }
//         .sideBlog_cr {
//           @include flex(flex, unset, nowrap, column);
//           // align-items: center;
//           gap: 20px;
//           width: 300px;
//           // height: 600px;
//           height: 500px;
//           overflow: hidden;
//           // background-color: white;
//           border-radius: 3px;
//           // box-shadow: 0px 0px 2px 0px grey;
//           padding: 10px;

//           &:hover {
//             overflow: auto;
//             // overflow:
//           }

//           .sideBlogCards {
//             @include flex(flex, unset, nowrap, row);

//             // width: 200px;
//             width: 100%;
//             height: 300px;
//             height: 150px;

//             // box-shadow: 0px 0px 1px 0px grey;
//             .sideBlogImg {
//               border-radius: 6px;
//               width: 50%;
//               height: 150px;
//               object-fit: fill
//             }

//             .textAreaCr {
//           @include flex(flex, unset, nowrap, column);
//               padding: 5px;
//               gap: 10px;
//               // width: fit-content;
//               // box-shadow: 0px 0px 2px 0px grey;
//               font-size: small;
//               width: 100%;
//               .title_div {
//                p{
//                 background-color: rgb(0 0 0 / 57%);
//                 color: white;
//                 width: fit-content;
//                 padding: 5px;
//                 border-radius: 6px
//                }
//               }

//               .desc_div {
//                 @include flex(flex, unset, nowrap, column);
//                 gap: 10px;
//                 .sideBlogBtn{
//                   background-color: #683ab792;
//                   // box-shadow: 0px 0px 4px 0px grey;
//                   width: fit-content;
//                   color: white;
//                   border: transparent;
//                   padding: 5px;
//                   border-radius: 6px;
//                   cursor: pointer;

//                   &:hover{
//                     // background-color: #673ab7;
//                     background: #683ab78f;
//                     color: white;
//                     box-shadow: 0 0 1px grey,
//                                 0 0 2px grey,
//                                 0 0 3px grey,
//                                 0 0 4px grey;
//                     //  -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
//                   }
//                 }
//               }
//             }
//           }
//         }
//       }
//     }
//   }

//   .allBlogs {
//     // @include flex(flex, unset, wrap, row);
//     margin-top: 25px;
//     margin-bottom: 25px;

//     width: 85%;
//     // box-shadow: 0px 0px 1px 0px grey;
//     .allBlogs_cn {
//       @include flex(flex, space-between, nowrap, row);
//       align-items: center;
//       box-shadow: 0px 0px 1px 0px grey;
//       padding: 5px;
//       .card_div {
//         width: 300px;
//         height: 400px;

//         .footer_side_photo {
//           width: inherit;
//           height: 250px;
//           border-radius: 4px;
//           // width: 250px;

//           // object-fit:contain;
//         }
//       }

//       .blogs_cards_btn {
//         background-color: transparent;
//         border: transparent;
//         width: 30px;
//         height: 35px;
//         font-size: x-large;
//         color: rgb(108, 101, 101);
//         cursor: pointer;
//         border-radius: 50%;
//         text-align: center;

//         &:hover {
//           background-color: rgba(20, 18, 18, 0.175);
//         }
//       }
//     }
//   }
// }
