@import "../../../variables/_variables.scss";
.Navbar {
  @include flex(flex, center, wrap, row);
  min-height: fit-content;
  background-color: rgb(42, 40, 40);
  box-shadow: 0px 0px 2px 0px rgb(213, 213, 213);
  word-wrap: break-word;
  word-break: break-all;
  .navbar_cn {
    @include flex(flex, space-between, wrap, row);
    align-items: $alignItems;
    min-width: fit-content;
    min-height: fit-content;
    width: 100%;
    padding: 5px 10px;
    .siteName_cn {
      @include flex(flex, space-between, wrap, row);
      align-items: $alignItems;
      gap: 25px;
      h2 {
        color: $primary_dkprp_clr;
        font-family: "Brush Script MT", cursive;
        font-size: 2.5rem;
      }
      .nav_text {
        color: $primary_gry_clr;
        font-size: $smallFont;
        .tags {
          color: $primary_gry_clr;
          text-decoration: none;
          transition: all ease-in-out 1s;
          &:hover {
            color: $primary_wh_clr;
          }
        }
      }
    }
    .log_links {
      @include flex(flex, space-between, wrap, row);
      align-items: $alignItems;
      gap: 10px;
      .search_Input {
        .input {
          outline: $border_tr;
          background-color: $primary_bg_clr;
          border: 1px solid $primary_ltprp_clr;
          padding: 5px;
          height: 29px;
          width: 200px;
          &:focus {
            background-color: $primary_wh_clr;
          }
        }
        .search_btn {
          cursor: $cursorPointer;
          background-color: $primary_ltprp_clr;
          color: $primary_wh_clr;
          padding: 0px 5px;
          height: 29px;
          &:hover {
            background-color: $primary_dkprp_clr;
          }
        }
      }
      .link_icon {
        margin-right: 20px;
        .navbar_icon {
          font-size: $xLargeFont;
          color: $primary_ltprp_clr;
          margin-left: 15px;
          padding-top: 3px;
          &:hover {
            color: $primary_dkprp_clr;
          }
        }
      }

      .link {
        font-size: $largeFont;
        color: $primary_ltprp_clr;
        text-decoration: none;
        transition: all ease-in-out 1s;
        &:hover {
          color: $primary_black_clr;
          transform: scale(1.1);
        }
      }
    }
  }
}