@import "../../../variables/_variables.scss";
.Navbar {
  @include flex(flex, center, wrap, row);
  // height: 45px;
  min-height: fit-content;
  background-color: rgb(42, 40, 40);
  box-shadow: 0px 0px 2px 0px rgb(213, 213, 213);
  // min-height: fit-content;
word-wrap: break-word;
word-break: break-all;
  .navbar_cn {
    @include flex(flex, space-between, wrap, row);
    padding: 5px 10px;
    align-items: $alignItems;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    .siteName_cn {
      @include flex(flex, space-between, wrap, row);
      align-items: center;
      gap: 25px;

      h2 {
        color: #673ab7;
        font-family: 'Brush Script MT', cursive;
        font-size: 2.5rem;
      }

      // font-size: large

      .nav_text {
        color: grey;
        font-size: small;
        .tags {
          text-decoration: none;
          color: grey;
          transition: all ease-in-out 1s;
          &:hover {
            color: white;
          }
        }
      }
    }
    .log_links {
      @include flex(flex, space-between, wrap, row);
      align-items: $alignItems;
      gap: 10px;

      .search_Input {
        .input {
          height: 29px;
          width: 200px;
          background-color: #e1e1e1;
          border: 1px solid #673ab7;
          padding: 5px;
          outline: transparent;

          &:focus{
            background-color:white
          }
        }

        .search_btn {
          height: 29px;
          background-color: #673ab7;
          color: white;
          padding: 0px 5px;
          cursor: pointer;
          &:hover {
            background-color: #7541ce;
          }
        }
      }
      .link_icon {
        margin-right: 20px;

        .navbar_icon {
          font-size: x-large;
          margin-left: 15px;
          color: #673ab7;

          padding-top: 3px;
          // padding: 0px 10px;

          &:hover {
            color: #7541ce;
            // color: #8c5dde;

          }
        }
      }

      .link {
        text-decoration: none;
        font-size: large;
        color: #673ab7;
        transition: all ease-in-out 1s;
        &:hover {
          color: black;
          transform: scale(1.1);
          // border-bottom:1px solid #673ab7;
        }
      }
    }
  }
}

// @import "../../../variables/_variables.scss";

// .Navbar {
//   height: 6vh;
//   // background-color: #673ab7;
//   box-shadow: 0px 0px 2px 0px rgb(213, 213, 213);

//   .navbar_cn {
//     @include flex(flex, space-between, nowrap, row);
//     padding: 5px 10px;
//     align-items: $alignItems;

//     .navbar_links {
//       @include flex(flex, space-between, nowrap, row);
//       align-items: $alignItems;

//       gap: 50px;

//       .link {
//         text-decoration: none;
//         font-size: large;
//         // color:grey;
//         padding-bottom: 2px;
//         transition: all ease-in-out 1s;
//         &:hover {
//           color: black;
//           transform: scale(1.1);
//           // border-bottom:1px solid #673ab7;
//         }
//       }

//     }
//     .siteName_cn {
//       // color:
//       color: #673ab7;
//       font-size: large
//     }
//     .log_links {
//       @include flex(flex, space-between, nowrap, row);
//       align-items: $alignItems;
//       gap: 10px;
//       .link_icon {
//         margin-right: 20px;

//         .navbar_icon {
//           font-size: x-large;
//           margin-left: 15px;
//           color: black;

//           padding-top: 3px;
//           // padding: 0px 10px;

//           &:hover {
//             color: #673ab7;
//           }
//         }
//       }

//       .link {
//         text-decoration: none;
//         font-size: large;
//         color: #673ab7;
//         transition: all ease-in-out 1s;
//         &:hover {
//           color: black;
//           transform: scale(1.1);
//           // border-bottom:1px solid #673ab7;
//         }
//       }

//       .dropdown {
//         position: relative;
//         // padding-right: 10px;

//         .icon {
//           margin-right: 30px;
//           cursor: pointer;
//           font-size: x-large;
//           color: grey;
//           transition: all ease-in-out 1s;

//           &:hover {
//             color: black;
//             transform: scale(1.1);
//           }
//         }
//         .dropdown_menu {
//           @include flex(flex, space-between, nowrap, column);
//           position: absolute;
//           right: 5px;
//           background-color: rgb(255, 255, 255);
//           border: 1px solid rgb(219, 213, 213);
//           padding: 5px;
//           .link {
//             padding: 10px;

//             &:hover {
//               background-color: rgb(235, 230, 230);
//             }
//           }
//         }
//       }
//     }
//   }
// }
