.signin {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  background: url("../../../assets/sign_ground.jpg");
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.signin .signin_cn {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.signin .signin_cn .signin_innerCn {
  min-width: 300px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  width: 75vw;
  height: 85vh;
}
.signin .signin_cn .signin_innerCn .signin_header {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.signin .signin_cn .signin_innerCn .signin_header .link_cn .link {
  display: flex;
  justify-content: unset;
  flex-wrap: nowrap;
  flex-direction: row;
  color: white;
  align-items: center;
  text-decoration: none;
  gap: 5px;
}
.signin .signin_cn .signin_innerCn .signin_header .link_cn .link:hover {
  transform: scale(1.05);
}
.signin .signin_cn .signin_innerCn .signin_header h1 {
  color: #f1f1f1;
}
.signin .signin_cn .signin_innerCn .form {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.signin .signin_cn .signin_innerCn .form .form_header {
  padding-bottom: 60px;
  padding-top: 25px;
}
.signin .signin_cn .signin_innerCn .form .form_header h1 {
  color: #9c27b0;
  text-align: center;
  margin-bottom: 10px;
  font-size: 4rem;
}
.signin .signin_cn .signin_innerCn .form .form_header p {
  color: white;
}
.signin .signin_cn .signin_innerCn .form .input_cn {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.signin .signin_cn .signin_innerCn .form .input_cn input {
  border: transparent;
  color: white;
  font-size: large;
  border-bottom: 1px solid #9e9e9e;
  background-color: inherit;
  width: 350px;
  height: 35px;
  padding: 5px;
}
.signin .signin_cn .signin_innerCn .form .input_cn input::-moz-selection {
  outline: transparent;
  background-color: #6a7886;
}
.signin .signin_cn .signin_innerCn .form .input_cn input::selection {
  outline: transparent;
  background-color: #6a7886;
}
.signin .signin_cn .signin_innerCn .form .input_cn input:focus {
  outline: transparent;
  border-bottom: 1px solid #9c27b0;
}
.signin .signin_cn .signin_innerCn .form .input_cn input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.602) inset; /* Change the color to your own background color */
  -webkit-text-fill-color: red;
  background-color: #3d95ec;
}
.signin .signin_cn .signin_innerCn .form .input_cn .icon {
  position: absolute;
  font-size: large;
  color: grey;
  right: 0;
  top: 7px;
}
.signin .signin_cn .signin_innerCn .form .input_cn .visible_icon {
  cursor: pointer;
}
.signin .signin_cn .signin_innerCn .form .input_cn .visible_icon:hover {
  color: rgb(252, 246, 246);
}
.signin .signin_cn .signin_innerCn .form .input_cn .err {
  font-size: small;
  color: red;
}
.signin .signin_cn .signin_innerCn .form .sign_btn_cn {
  margin-top: 45px;
}
.signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  background-color: #9c27b0;
  color: white;
  border: transparent;
  font-size: medium;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px grey;
  gap: 4px;
  width: 120px;
  height: 40px;
}
.signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn:hover {
  background-color: #b52dcd;
}
.signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn:disabled {
  background-color: #4d0f58;
}
.signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn .spinnerIcon {
  animation: spin 5s;
}
@keyframes spin {
  0% {
    rotate: 0;
  }
  25% {
    rotate: 90deg;
  }
  50% {
    rotate: 180deg;
  }
  90% {
    rotate: 360deg;
  }
  100% {
    display: none;
  }
}
.signin .signin_cn .signin_innerCn .signin_footer {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
.signin .signin_cn .signin_innerCn .signin_footer .link {
  font-size: larger;
  transition: all ease-in-out 1s;
  color: #9e9e9e;
  text-decoration: none;
  letter-spacing: 1px;
}
.signin .signin_cn .signin_innerCn .signin_footer .link:hover {
  color: white;
  transform: scale(1.05);
}
.signin .signin_cn .signin_innerCn .signin_footer p {
  color: white;
  font-size: large;
}

@media screen and (max-width: 450px) {
  .signin {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    background: url("../../../assets/sign_ground.jpg");
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  .signin .signin_cn {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
  }
  .signin .signin_cn .signin_innerCn {
    min-height: -moz-fit-content;
    min-height: fit-content;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  .signin .signin_cn .signin_innerCn .signin_header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px;
  }
  .signin .signin_cn .signin_innerCn .signin_header .link_cn .link {
    display: flex;
    justify-content: unset;
    flex-wrap: nowrap;
    flex-direction: row;
    color: white;
    align-items: center;
    text-decoration: none;
    gap: 5px;
  }
  .signin .signin_cn .signin_innerCn .signin_header .link_cn .link:hover {
    transform: scale(1.05);
  }
  .signin .signin_cn .signin_innerCn .signin_header h1 {
    color: #f1f1f1;
  }
  .signin .signin_cn .signin_innerCn .form {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  .signin .signin_cn .signin_innerCn .form .form_header {
    padding-bottom: 60px;
    padding-top: 25px;
  }
  .signin .signin_cn .signin_innerCn .form .form_header h1 {
    color: #9c27b0;
    margin-bottom: 10px;
    font-size: 3rem;
  }
  .signin .signin_cn .signin_innerCn .form .form_header p {
    color: white;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    gap: 20px;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn input {
    border: transparent;
    color: white;
    font-size: medium;
    border-bottom: 1px solid #9e9e9e;
    background-color: inherit;
    width: 200px;
    height: 35px;
    padding: 5px;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn input::-moz-selection {
    outline: transparent;
    background-color: #6a7886;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn input::selection {
    outline: transparent;
    background-color: #6a7886;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn input:focus {
    outline: transparent;
    border-bottom: 1px solid #9c27b0;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px rgba(0, 0, 0, 0.602) inset; /* Change the color to your own background color */
    -webkit-text-fill-color: red;
    background-color: #3d95ec;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn .icon {
    position: absolute;
    font-size: large;
    color: grey;
    right: 0;
    top: 7px;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn .visible_icon {
    cursor: pointer;
  }
  .signin .signin_cn .signin_innerCn .form .input_cn .visible_icon:hover {
    color: rgb(252, 246, 246);
  }
  .signin .signin_cn .signin_innerCn .form .input_cn .err {
    font-size: small;
    color: red;
  }
  .signin .signin_cn .signin_innerCn .form .sign_btn_cn {
    margin-top: 45px;
  }
  .signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    background-color: #9c27b0;
    color: white;
    border: transparent;
    font-size: medium;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px grey;
    gap: 4px;
    width: 120px;
    height: 40px;
  }
  .signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn:hover {
    background-color: #b52dcd;
  }
  .signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn:disabled {
    background-color: #4d0f58;
  }
  .signin .signin_cn .signin_innerCn .form .sign_btn_cn .signin_btn .spinnerIcon {
    animation: spin 5s;
  }
  @keyframes spin {
    0% {
      rotate: 0;
    }
    25% {
      rotate: 90deg;
    }
    50% {
      rotate: 180deg;
    }
    90% {
      rotate: 360deg;
    }
    100% {
      display: none;
    }
  }
  .signin .signin_cn .signin_innerCn .signin_footer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  .signin .signin_cn .signin_innerCn .signin_footer .link {
    font-size: larger;
    transition: all ease-in-out 1s;
    color: #9e9e9e;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .signin .signin_cn .signin_innerCn .signin_footer .link:hover {
    color: white;
    transform: scale(1.05);
  }
  .signin .signin_cn .signin_innerCn .signin_footer p {
    color: white;
    font-size: large;
  }
}/*# sourceMappingURL=signin.css.map */