@import "../../../variables/_variables.scss";

.Post {
  margin-top: 25px;
  margin-bottom: 155px;
text-transform: none;
  .Post_cn {
    @include flex(flex, center, nowrap, row);
    gap: 20px;

    .TextCn1 {
      width: 50%;
      min-width: fit-content;
      
      .titleContainer {
        @include flex(flex, center, nowrap, column);
        margin-bottom: 20px;
        box-shadow: 0px 0px 1px 0px grey;

        input {
          height: 35px;
          padding: 5px;
          border: 1px solid rgb(184, 184, 184);
          outline: transparent;
          font-size: large;

        }
      }
      .edithContainer {
        // height: 310px;
        .quill {
          height: 300px;

          .ql-toolbar{
        box-shadow: 0px 0px 1px 0px grey;

          }
          .ql-container{
        box-shadow: 0px 0px 1px 0px grey;

          }
        }
      }
    }

    .TextCn2 {
        min-width: fit-content;
    width: 20%;

      @include flex(flex, unset, nowrap, column);
      gap: 20px;
      .categoryContainer {
        @include flex(flex, unset, nowrap, column);
        // background-color: #9e9e9e38;
        background-color: rgb(158 158 158 / 9%);

        box-shadow: 0px 0px 1px 0px grey;
        padding: 10px;
        gap: 10px;
        .inputContainer {
        @include flex(flex, unset, nowrap, row);

          input{
            cursor: pointer;
          }
          label {
            padding-left: 10px;
            color: #673ab7;
          }
        }
      }
      .publishContainer {
        @include flex(flex, unset, nowrap, column);
        // background: #9e9e9e38;
        background-color: rgb(158 158 158 / 9%);

        gap: 10px;
        box-shadow: 0px 0px 1px 0px grey;
        padding: 10px;
        // width: 250px;

        span{
        @include flex(flex, space-between, nowrap, row);
            b{
                // padding-right: ;
            }
        }
        label{
            text-decoration: underline;
            color: gray;
            cursor: pointer;

            &:hover{
                color: black
            }
        }
        .publishBtn {
          @include flex(flex, space-between, nowrap, row);

          button:first-child {
            height: 30px;
            padding: 5px;
            box-shadow: 0px 0px 1px 0px grey;
            color: #673ab7;
            cursor: pointer;

            &:hover {
         transform: scale(1.05);
         box-shadow: 0px 0px 1px 0px rgb(183, 182, 182);

            }
          }

          button:last-child {
            height: 30px;
            width: 70px;
            padding: 5px;
            background-color: #673ab7;
            // border: 2px solid #673ab7;
            border: transparent;
            // box-shadow: 0px 0px 1px 2px grey;
            color: white;
            cursor: pointer;

            &:hover {
              background-color: #794aca;
            }
          }
        }
      }
    }
  }
}
