$primary_bg_clr: #f1f1f1;
$border_wh_clr: #ebebeb;
$primary_wh_clr: white;
$primary_wh_clr2: #e0e0e0;
$primary_bl_clr: #080808b5;
$primary_black_clr:black;
$primary_prp_clr: #9c27b0;
$primary_dkprp_clr: #7541ce;
$primary_ltprp_clr: #673ab7;
$primary_gry_clr: grey;
$primary_lgt_gry_clr:#c5c5ca;
$fontweight:bold;
$cursorPointer:pointer;
$border_tr:transparent;
$captext:capitalize;
$textspace:1px;
$px6_borderRadius:6px;
$relative:relative;
$absolute:absolute;
$alignItems:center;
$objfit: cover;
$grey_boxShadow:0px 0px 1px 0px grey;
$mediumFont:medium;
$smallFont:small;
$smallerFont:smaller;
$largeFont:large;
$largerFont:larger;
$xLargeFont:x-large;
$xxLargeFont:xx-large;
$hid_overFlow:hidden;
$underline_decore:underline;

@mixin flex($display,$jstcontent,$flexwarp,$flexdirection) {
    display: $display;
    justify-content:$jstcontent ;
    flex-wrap: $flexwarp;
    flex-direction: $flexdirection;
}

@mixin element_transparency() {
    border: transparent;
    background: transparent;
}

// $primary_clr5: #e0d40cfa;
// $primary_clr6:#b9b00bfa;
// $primary_clr7:gainsboro;
// $primary_clr8:#849095;
// $primary_clr9:#25af04;
// $primary_clr11:#111111c9;
// $primary_clr12:royalblue;
// $primary_clr13:#111111c9;
// $primary_bg_clr3: #f2f2f2;